@font-face {
    font-family: Proxima_Nova;
    src: url(../font/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf);
}
.nav>li>a {
	padding: 15px 7px;
	font-family: Proxima_Nova;
}
.navbar-inverse.top {
	background: linear-gradient(60deg, #2f2e40, #151240);
	background: -webkit-linear-gradient(60deg, #2f2e40, #151240);
	background: -moz-linear-gradient(60deg, #2f2e40, #151240);
	background: -o-linear-gradient(60deg, #2f2e40, #151240);
	border-color: transparent;
}
.title {
	font-size: 20px;
	color: #fff !important;
	margin-top: 0px;
	font-family: Proxima_Nova;
}
.lettre {
	color: #fff !important;
	font-family: Proxima_Nova;
}
.lettre span {
	color: #9d9d9d;
	font-family: Proxima_Nova;
}
.dropdown-toggle {
	margin-top: 8px
}
.navbar-inverse {
	background: linear-gradient(60deg, #323056, #151240);
	background: -webkit-linear-gradient(60deg, #323056, #151240);
	background: -moz-linear-gradient(60deg, #323056, #151240);
	background: -o-linear-gradient(60deg, #323056, #151240);
	border-color: transparent;
}
.navbar {
	border-radius: 0px
}
.navbar{
	margin-bottom: 0
}
.dropdown {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
	border-radius: 3px;
	background: linear-gradient(60deg, #e4e2e2, #9e9c9c);
		background: -webkit-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	background: -moz-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	background: -o-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	color: #000;
	font-family: Proxima_Nova;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin-left: 17px;
}
.searchbar{
	position: absolute;
	z-index: 9999999;
}
/** hidden search field **/
#searchbar {
  display: none;
  float: left;
  width: 100%;
  height: 62px;
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
}
.bg-section {
	background: linear-gradient(60deg, #1b183a, #3f6184);
		background: -webkit-linear-gradient(60deg, #1b183a, #3f6184);
	background: -moz-linear-gradient(60deg, #1b183a, #3f6184);
	background: -o-linear-gradient(60deg, #1b183a, #3f6184);
	min-height: 800px;
}
.back-1 {
	background: linear-gradient(60deg, #080808, #3c3b3b);
		background: -webkit-linear-gradient(60deg, #080808, #3c3b3b);
	background: -moz-linear-gradient(60deg, #080808, #3c3b3b);
	background: -o-linear-gradient(60deg, #080808, #3c3b3b);
	height: 60px;
}
.back-2 {
	background: linear-gradient(60deg, #1b1b1b, #1b1b1b);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -moz-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -o-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	/*	height: 100px;*/
}
.back-3 {
	background: linear-gradient(60deg, #1b1b1b, #1b1b1b);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -moz-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -o-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	height: 60px;
	padding-top: 0px;
}

.bottomleft {
	line-height: 6;
	color: #666666;
	font-family: Proxima_Nova;
}
.bottomright {
	font-size: 25px;
	line-height: 3;
	color: #fff;
	font-family: Proxima_Nova;
	font-weight: bold;
}
.small, small {
	font-size: 60%;
}
.left-text, .right-text {
	color: #fff;
	padding-top: 31px;
	font-family: Proxima_Nova;
	padding-right: 20px;
}

.bg , .section-tow , .section-three , .section-four , .section-five a p{
	color: #fff !important;
} 
.Other {
	background: linear-gradient(60deg, #1b1b1b, #095c5f);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #095c5f);
	background: -moz-linear-gradient(60deg, #1b1b1b, #095c5f);
	background: -o-linear-gradient(60deg, #1b1b1b, #095c5f);
	height: 60px;
}
.Other-plus {
	background: #04bec5;
	width: 2%;
	height: 60px;
}
/* Tooltip */
  .Other-plus + .tooltip > .tooltip-inner {
      background-color: #04bec5; 
      color: #000; 
      padding: 10px;
      font-size: 14px;
  }
  /* Tooltip on top */
  .Other-plus + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .Other-plus + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .Other-plus + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

  .Desktop {
	background: linear-gradient(60deg, #1b1b1b, #2a4527);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -moz-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -o-linear-gradient(60deg, #1b1b1b, #2a4527);
	height: 60px;
}
  .Desktop-plus {
	background: #5bc150;
	width: 2%;
	height: 60px;
}
/* Tooltip */
  .Desktop-plus + .tooltip > .tooltip-inner {
      background-color: #5bc150; 
      color: #000; 
      padding: 10px;
      font-size: 14px;
      z-index: -999;
  }
  /* Tooltip on top */
  .Desktop-plus + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .Desktop-plus + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .Desktop-plus + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
  .Mobile {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.Mobile-plus {
	background: #046cc5;
	width: 2%;
	height: 60px;
}
/* Tooltip */
  .Mobile-plus + .tooltip > .tooltip-inner {
      background-color: #046cc5; 
      color: #000;  
      padding: 10px;
      font-size: 14px;
  }
  /* Tooltip on top */
  .Mobile-plus + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .Mobile-plus + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .Mobile-plus + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

  .Tablet {
	background: linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.Tablet-plus {
	background: #d7b84a;
	width: 2%;
	height: 60px;
}
/* Tooltip */
  .Tablet-plus + .tooltip > .tooltip-inner {
      background-color: #d7b84a; 
      color: #000;  
      padding: 10px;
      font-size: 14px;
  }
  /* Tooltip on top */
  .Tablet-plus + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .Tablet-plus + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .Tablet-plus + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

#apple{
	color: #046cc5;
	position: absolute;
    top: -20px;
}
#tv{
	color: #5bc150;
	position: absolute;
    top: -20px;
}
#android{
	color: #046cc5;
	position: absolute;
    top: -20px;
}
.time{
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: Proxima_Nova;
}
.off-on {
	margin-top: 10px;
	color: #fff
}
#topbar {
  display: block;
  height: 80px;
  background: #fff;
}

#fullimg {
  display: block;
  width: 100%;
  height: 360px;
  background: url('https://i.imgur.com/ZI9aikM.jpg') no-repeat;
  background-size: 100%;
}

#content {
  display: block;
  padding: 10px 15px;
}

/** heading bar **/
#logo {
  display: block;
  float: left;
  color: #454545;
  font-size: 3.1em;
  line-height: 80px;
  font-family: 'Archivo Black', Helvetica, sans-serif;
}

/** hidden search field **/
#searchbar {
  display: none;
  float: left;
  width: 100%;
  height: 62px;
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
}

#s {
  display: block;
  width: 88%;
  border: 0;
  outline: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-size: 3.0em;
  font-weight: bold;
  color: #676767;
}

#searchsubmit {
  display: block;
  float: right;
  margin-top: 6px;
  background: none;
  color: #717171;
  border: 0;
  outline: none;
  cursor: pointer;
}
.button4 {
		background-color: #868484 ;
		 color: #fff;
		 border:none;	 
  		font-family: 'Archivo Black', Helvetica, sans-serif;
		}
/*.button4 {padding: 10px 40px;}*/

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
