<footer class="site-footer">
	<img src="/images/icon.svg" alt="FOOD WORKS" />
	{{#if this.typeform }}
	<div class="site-footer-cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<h2>Join The Food Works Program Now</h2>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<a href="{{ this.typeform }}" class="btn btn-default btn-lg fancybox-iframe-trigger">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	{{/if }}
	{{#if this.settings.contact }}
	<div class="site-footer-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{{#markdown}}{{ this.settings.contact.content }}{{/markdown}}
				</div>
			</div>
		</div>
	</div>
	{{/if }}
	<div class="site-footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{{#if this.typeform }}
					<p>For more questions about FOOD WORKS, <a href="{{ this.typeform }}" class="fancybox-iframe-trigger">email us here</a>.</p>
					{{/if }}
					<p><small>Copyright © 2017 FOOD WORKS. All rights reserved</small><p>
				</div>
			</div>
		</div>
	</div>
</footer>
