<header class="site-header">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<img src="/images/logo.svg" alt="Food Works" />
						</a>
					</div>
					<div class="hidden-lg hidden-md visible-sm visible-xs">
						<a href="#" data-toggle="collapse" data-target="#mobile-menu" class="menu-toggle">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</a>
					</div>
					<div class="visible-lg visible-md hidden-sm hidden-xs">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="/how-it-works">How It Works</a>
							</li>
							<li>
								<a href="/about">About</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/partners">Our Partners</a>
							</li>
							{{#if this.typeform }}
							<li>
								<a href="{{ this.typeform }}" class="fancybox-iframe-trigger">Contact</a>
							</li>
							{{/if }}
						</ul>
					</div>
				</div>
			</div>
			<div class="hidden-lg hidden-md mobile-menu collapse" id="mobile-menu">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul>
							<li>
								<a href="/how-it-works">How It Works</a>
							</li>
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a href="/partners">Our Partners</a>
							</li>
							{{#if this.typeform }}
							<li>
								<a href="{{ this.typeform }}" class="fancybox-iframe-trigger">Contact</a>
							</li>
							{{/if }}
						</ul>
					</div>				
				</div>
			</div>		
		</div>
	</nav>
</header>
