@font-face {
    font-family: Proxima_Nova;
    src: url(../font/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf);
}
.nav>li>a {
	padding: 15px 7px;
	font-family: Proxima_Nova;
}
.navbar-inverse.top {
	background: linear-gradient(60deg, #6b698c, #151240);
	background: -webkit-linear-gradient(60deg, #6b698c, #151240);
	background: -moz-linear-gradient(60deg, #6b698c, #151240);
	background: -o-linear-gradient(60deg, #6b698c, #151240);
	border-color: transparent;
}
.title {
	font-size: 20px;
	color: #fff !important;
	margin-top: 0px;
	font-family: Proxima_Nova;
}
.lettre {
	color: #fff !important;
	font-family: Proxima_Nova;
}
.lettre span {
	color: #9d9d9d;
	font-family: Proxima_Nova;
}
.dropdown-toggle {
	margin-top: 8px
}
.navbar-inverse {
	background: linear-gradient(60deg, #323056, #151240);
	background: -webkit-linear-gradient(60deg, #323056, #151240);
	background: -moz-linear-gradient(60deg, #323056, #151240);
	background: -o-linear-gradient(60deg, #323056, #151240);
	border-color: transparent;
}
.navbar {
	border-radius: 0px
}
.navbar{
	margin-bottom: 0
}
.dropdown {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
	border-radius: 3px;
	background: linear-gradient(60deg, #e4e2e2, #9e9c9c);
		background: -webkit-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	background: -moz-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	background: -o-linear-gradient(60deg, #e4e2e2, #9e9c9c);
	color: #000;
	font-family: Proxima_Nova;
}
.toggle {
	margin-top: 8px;
}
.off-on {
	margin-top: 15px;
	color: #fff
}
.col-sm-12.after::after {
	content: "";
	background-color: yellow;
	color: red;
	font-weight: bold;
}
.bg {
	background: linear-gradient(60deg, #1b183a, #3f6184);
		background: -webkit-linear-gradient(60deg, #1b183a, #3f6184);
	background: -moz-linear-gradient(60deg, #1b183a, #3f6184);
	background: -o-linear-gradient(60deg, #1b183a, #3f6184);
	min-height: 800px;
}
.bg-1 {
	background: linear-gradient(60deg, #080808, #3c3b3b);
		background: -webkit-linear-gradient(60deg, #080808, #3c3b3b);
	background: -moz-linear-gradient(60deg, #080808, #3c3b3b);
	background: -o-linear-gradient(60deg, #080808, #3c3b3b);
	height: 60px;
}
.bg-2 {
	background: linear-gradient(60deg, #1b1b1b, #1b1b1b);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -moz-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -o-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	/*	height: 100px;*/
}
.bg-3 {
	background: linear-gradient(60deg, #1b1b1b, #1b1b1b);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -moz-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	background: -o-linear-gradient(60deg, #1b1b1b, #1b1b1b);
	height: 60px;
}
.bg-4 {
	background: linear-gradient(60deg, #1b1b1b, #2a4527);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -moz-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -o-linear-gradient(60deg, #1b1b1b, #2a4527);
	height: 60px;
}
.bottomleft {
	line-height: 6;
	color: #666666;
	font-family: Proxima_Nova;
}
.bottomright {
	font-size: 25px;
	line-height: 3;
	color: #fff;
	font-family: Proxima_Nova;
	font-weight: bold;
}
.small, small {
	font-size: 60%;
}
.left-text, .right-text {
	color: #fff;
	padding-top: 5px;
	font-family: Proxima_Nova;
}
.bg-3-plus {
	background: #04bec5;
	width: 2%;
	height: 60px;
}
.bg-4-plus {
	background: #6ee861;
	width: 2%;
	height: 60px;
}
.bg-5 {
	background: linear-gradient(60deg, #1b1b1b, #095c5f);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #095c5f);
	background: -moz-linear-gradient(60deg, #1b1b1b, #095c5f);
	background: -o-linear-gradient(60deg, #1b1b1b, #095c5f);
	height: 60px;
}
.bg-5-plus {
	background: #04bec5;
	width: 2%;
	height: 60px;
}
.bg-6 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.bg-6-plus {
	background: #046cc5;
	width: 2%;
	height: 60px;
}
.section-tow .bg-4-plus {
	background: #d7b84a;
}
.section-tow .bg-5-plus.plus {
	background: #046cc5;
}
.section-tow .bg-5-plus.plus {
	background: #046cc5;
}
.section-tow .bg-4 {
	background: linear-gradient(60deg, #1b1b1b, #524824);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #524824);
	background: -moz-linear-gradient(60deg, #1b1b1b, #524824);
	background: -o-linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.section-tow .bg-5-plus {
	background: #046cc5;
}
.section-tow .bg-6-plus {
	background: #d7b84a;
}
.section-tow .bg-6 {
	background: linear-gradient(60deg, #1b1b1b, #524824);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #524824);
	background: -moz-linear-gradient(60deg, #1b1b1b, #524824);
	background: -o-linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.section-tow .bg-5 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-tow .bg-3-plus {
	background: #6ee861;
}
.section-three .bg-4-plus {
	background: #046cc5;
}
.section-three .bg-5-plus.plus {
	background: #046cc5;
}
.section-three .bg-5-plus.plus {
	background: #046cc5;
}
.section-three .bg-4 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-three .bg-5-plus {
	background: #046cc5;
}
.section-three .bg-6-plus {
	background: #d7b84a;
}
.section-three .bg-6 {
	background: linear-gradient(60deg, #1b1b1b, #524824);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #524824);
	background: -moz-linear-gradient(60deg, #1b1b1b, #524824);
	background: -o-linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.section-three .bg-5 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-three .bg-3-plus {
	background: #d7b84a;
}
.section-four .bg-4-plus {
	background: #046cc5;
}
.section-four .bg-5-plus.plus {
	background: #046cc5;
}
.section-four .bg-5-plus.plus {
	background: #046cc5;
}
.section-four .bg-4 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-four .bg-6-plus {
	background: #d7b84a;
}
.section-four .bg-6 {
	background: linear-gradient(60deg, #1b1b1b, #524824);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #524824);
	background: -moz-linear-gradient(60deg, #1b1b1b, #524824);
	background: -o-linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.section-five .bg-5 {
	background: linear-gradient(60deg, #1b1b1b, #2a4527);
		background: -webkit-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -moz-linear-gradient(60deg, #1b1b1b, #2a4527);
	background: -o-linear-gradient(60deg, #1b1b1b, #2a4527);
	height: 60px;
}
.section-five .bg-5-plus {
	background: #6ee861;
}
.section-five .bg-3-plus {
	background: #d7b84a;
}
.section-five .bg-4-plus {
	background: #046cc5;
}
.section-five .bg-5-plus.plus {
	background: #046cc5;
}
.section-five .bg-5-plus.plus {
	background: #046cc5;
}
.section-five .bg-4 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-five .bg-6-plus {
	background: #d7b84a;
}
.section-five .bg-6 {
	background: linear-gradient(60deg, #1b1b1b, #524824);
	background: -webkit-linear-gradient(60deg, #1b1b1b, #524824);
	background: -moz-linear-gradient(60deg, #1b1b1b, #524824);
	background: -o-linear-gradient(60deg, #1b1b1b, #524824);
	height: 60px;
}
.section-five .bg-5 {
	background: linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -webkit-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -moz-linear-gradient(60deg, #1b1b1b, #0e436d);
	background: -o-linear-gradient(60deg, #1b1b1b, #0e436d);
	height: 60px;
}
.section-five .bg-5-plus {
	background: #046cc5;
}
.section-five .bg-3-plus {
	background: #d7b84a;
}

.searchbar{
	position: absolute;
	z-index: 9999999;
}
.fa.fa-search.fa-4x{
	font-size: 45px;
}
/** page structure **/
#w {
  display: block;
  width: 900px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 15px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.time{
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: Proxima_Nova;
}

#topbar {
  display: block;
  height: 80px;
  background: #fff;
}

#fullimg {
  display: block;
  width: 100%;
  height: 360px;
  background: url('https://i.imgur.com/ZI9aikM.jpg') no-repeat;
  background-size: 100%;
}

#content {
  display: block;
  padding: 10px 15px;
}

/** heading bar **/
#logo {
  display: block;
  float: left;
  color: #454545;
  font-size: 3.1em;
  line-height: 80px;
  font-family: 'Archivo Black', Helvetica, sans-serif;
}





/** hidden search field **/
#searchbar {
  display: none;
  float: left;
  width: 100%;
  height: 62px;
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
}

#s {
  display: block;
  width: 88%;
  border: 0;
  outline: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-size: 3.0em;
  font-weight: bold;
  color: #676767;
}

#searchsubmit {
  display: block;
  float: right;
  margin-top: 6px;
  background: none;
  color: #717171;
  border: 0;
  outline: none;
  cursor: pointer;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
