.sidebar .user .photo {
	width: 90px;
	height: 90px;
	float: none;
	display: block;
	margin: auto;
}
.sidebar .user .info>a>span {
	text-align: center;
}
.btn.btn-success.telecherger-btn {
	margin-top: 60px;
	margin-bottom: 20px;
	width: 100%;
}
.stats p {
	margin-top: 80px;
	color: #bababa;
}
.sidebar .nav .backup:hover>a, .sidebar .nav .backup.active>[data-toggle="collapse"] {
	background-color: green;
}
.sidebar .nav .restore:hover>a, .sidebar .nav .restore.active>[data-toggle="collapse"] {
	background-color: #26c6da;
}
.sidebar .nav .cloud_download:hover>a, .sidebar .nav .cloud_download.active>[data-toggle="collapse"] {
	background-color: green;
}
.row.cache {
	display: none;
}
.col-md-3.projet {
	margin-top: 15px;
	padding-bottom: 50px;
}
.col-md-2.project {
	margin-top: 40px;
	padding-bottom: 50px;
}
.btn.btn-success.rechercher-btn {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}
/*.footer{
	margin-top: 25%; 
}*/

.table>thead>tr>th {
	color: #26c6da;
	font-weight: bold;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 12px 14px;
	font-size: 13px;
}
.table .td-actions .btn {
	margin: 0px !important;
	padding: 5px;
}
.btn.btn-round, .navbar .navbar-nav>li>a.btn.btn-round {
	border-radius: 30px;
}
.table.page3>thead>tr>th, .table.page3>tbody>tr>th, .table.page3>tfoot>tr>th, .table.page3>thead>tr>td, .table.page3>tbody>tr>td, .table.page3>tfoot>tr>td {
	padding: 5px 5px;
	font-size: 12px;
}
.table .radio, .table .checkbox {
	float: right;
	width: 100%;
}
.table.page3>thead>tr>th {
	color: red;
}
.btn.btn-success.enr {
	margin-top: 10px;
}
.card-title {
	font-size: 17px;
}
.card .card-footer {
	border-top: 0px solid #eeeeee;
}
.table.export>thead>tr>th {
	color: red;
}
.card-title.export {
	font-size: 22px;
}
.btn.btn-success.btn-round.btn-fab.btn-fab-mini.pull-right.top {
	margin-top: 50px;
}
.btn.btn-fab.btn-fab-mini, .btn-group-sm .btn.btn-fab, .navbar .navbar-nav>li>a.btn.btn-fab.btn-fab-mini, .btn-group-sm .navbar .navbar-nav>li>a.btn.btn-fab {
	height: 50px;
	min-width: 50px;
	width: 40px;
}