body {
   background-image: url("img/background.png");
   padding: 35px;
   background-repeat: no-repeat;

	}

html, body{font-family: 'Ubuntu', sans-serif;}


.login-form{
    width: 456px;
    margin: auto;
    position: relative;

}
.login-form img{
	    position: absolute;
    top: -10px;
    right: -64px;
    width: 26%;
}

.login-form input[type=text] {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
     width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #fff;
    display: block;

        border: 1px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(160, 179, 176);
    border-right-color: rgb(160, 179, 176);
    border-bottom-color: rgb(160, 179, 176);
    border-left-color: rgb(160, 179, 176);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;


    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.login-form input[type=password] {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
     width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #fff;
    display: block;

        border: 1px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(160, 179, 176);
    border-right-color: rgb(160, 179, 176);
    border-bottom-color: rgb(160, 179, 176);
    border-left-color: rgb(160, 179, 176);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;


    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.field-wrap{position: relative;


max-width: 100%;
margin: 0px auto;
border-radius: 4px;
 display:table;/* shrinks to fit conntent */
        margin:auto;
    width: 100%;

}

 
.button {
	width: 100%;
    background-color: #4b4a4b; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 100%;
        margin: 14px 0;
    cursor: pointer;
}
.button {border-radius: 12px;}


.button:hover {
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
}



			.login-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  text-align: center;

}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-align: center;
}


    body, html {
    
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display:table;
    }
    body {
        display:table-cell;
        vertical-align:middle;
    }


    /* --------------------------------------------------------------------------------------------------index-Menu-------------------------------------------------------------------------------------------- */

    .background2{
   					background-image: url("img/background4.png");
   					padding: 0px;
   					background-repeat: no-repeat;
   				}
   	.carte1{
   			background-color:#2f9f4c; 
   			width: 385px;
   			height: 220px;
   			background: rgba(1, 156, 28, 0.7);
   			float: right;
   			margin: 10px;

   			}
   	.imgp {	float: right;
   			padding: 5px 0px;
   			margin-top: 0px;
   			}
   	.row{  	width: 1215px;
    		margin: auto;
    	}

   	.carte1.gren{ background: rgba(1, 156, 28, 0.7);} 			
	.carte1.gris{ background: rgba(167, 166, 166, 0.7);}
	.carte1.bleu{ background: rgba(0, 150, 255, 0.7);}
	.carte1.orange{ background: rgba(250, 9, 9, 0.7);}
	.carte1.red{ background: rgba(255, 121, 0, 0.7);}


	.logoo{width: 60px;}

	.logimg{background-color: #fff;
			width: 100%;
			position: absolute;
			float: right;
			top: 40px;
			border-radius: 57px 0 0 57px;
			max-width: 1409px;
			right: 0px;
		}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th,td{color: white;}


.name p{	
		position: absolute;
		float: left;
		text-decoration: none;
		color: white;
		font-size: 30px;
		margin-left: 25px;
	}


.btn {
	width: 100%;
    background-color: #4b4a4b; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-size: 100%;
        margin: 14px 0;
    cursor: pointer;
}




