/* Base
---------------------------------------------- */

body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgb( 255, 255, 255 );
    -ms-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}

/* Base Link Colors */
a:link, a:visited { 
	outline:none; 
}
a:active, a:hover { 
	outline:none; 
}

/* Selection Colors */
::selection {
	background: lighten( $black, 85% );
}
::-moz-selection {
	background: lighten( $black, 85% );
}
img::selection {
	background: transparent;
}
img::-moz-selection	{
	background: transparent;
}

/* WP Alignment */
.alignright {
	float:right; 
	margin:0 0 1em 1em;
}
.alignleft {
	float:left; 
	margin:0 1em 1em 0;
}
.aligncenter, .alignnone {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}