/* Mixins
---------------------------------------------- */
@mixin breakpoint($point) {
	@if $point == xs {
		@media ( min-width : 320px ) { @content; }
	}
	@else if $point == sm {
		@media ( min-width : 768px ) { @content; }
	}
	@else if $point == md {
		@media ( min-width : 992px ) { @content; }
	}
	@else if $point == lg {
		@media ( min-width : 1200px ) { @content; }
	}
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
