/* Navigation
---------------------------------------------- */
.btn {
	text-transform: uppercase;
	font-family : "ADAM.CG PRO", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1rem;
	padding: 20px 20px 15px 20px;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5000;
	padding: 30px 0;
	@include transition( all 0.2s ease-in );
	.navbar {
		background: none;
		border: none;
		margin: 0;
		padding: 0;
		.nav {
			li {
				@include breakpoint( 'md' ){
					margin: 15px 20px;
				}
				@include breakpoint( 'lg' ){
					margin: 15px 40px;
				}
				a {
					display: block;
					color: $white;
					text-transform: uppercase;
				}
			}
		}
		.menu-toggle {
			position: absolute;
			top: 15px;
			right: 15px;
			color: $white;
			font-size: 28px;
			@include breakpoint( 'xs' ){
				display: block;
			}
			@include breakpoint( 'md' ){
				display: none;
			}			
		}
		.mobile-menu {
			background: $brand-primary;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					a {
						display: block;
						margin: 15px 40px;
						padding: 0;
						color: $white;
						text-transform: uppercase;
						text-decoration: none;
						text-align: center;
						font-size: 18px;
					}
				}
			}							
		}
	}
	.navbar-header {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 320px;
		margin-left: -160px;
		@include breakpoint( 'xs' ){
			position: relative;
		}
		@include breakpoint( 'md' ){
			position: absolute;
		}		
		.navbar-brand {
			margin: 15px 15px;
			padding: 0;
			img {
				height: auto;
				@include breakpoint( 'xs' ){
					width: 250px;
				}
				@include breakpoint( 'sm' ){
					width: 290px;
				}				
			}
		}
	}
	&.affix {
		padding: 10px 0;
		background: $brand-primary;
	}
}

.site-footer {
	img {
		display: block;
		width: 90px;
		height: auto;
		@include breakpoint( 'xs' ){
			margin: 20px auto;
		}
		@include breakpoint( 'md' ){
			margin: 120px auto;
		}		
	}
	.site-footer-cta {
		padding: 80px 0;
		background: $brand-primary;
		@include breakpoint( 'xs' ){
			text-align: center;
		}
		@include breakpoint( 'md' ){
			text-align: left;
		}				
		h2 {
			color: $white;
			margin-top: 10px;
			@include breakpoint( 'xs' ){
				padding-bottom: 30px;
			}
			@include breakpoint( 'md' ){
				padding-bottom: initial;
			}			
		}
	}
	.site-footer-inner {
		text-align: center;
		padding: 120px 0 60px 0;
		h1, h2, h3, h4, h5, h6 {
			color: $brand-primary;
			margin-bottom: 30px;
		}
		p {
			font-size: 1.8rem;
		}
	}
	.site-footer-copyright {
		text-align: center;
		margin-bottom: 120px;
		font-size: 1.8rem;
		small {
			font-size: 1.4rem;
			color: $gray-light;
		}
	}
}
