/* Typography
---------------------------------------------- */
body {
	font-size: $font-size-base;
}

h1 {
	margin: 0;
	padding: 0;
	font-family : "ADAM.CG PRO", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size : 6.4rem;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: "ADAM.CG PRO", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size : 3.4rem;
}

h3 {
	margin: 0;
	padding: 0;
	font-family: "ADAM.CG PRO", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
	margin: 0;
	padding: 0;
	font-family: "ADAM.CG PRO", "Helvetica Neue", Helvetica, Arial, sans-serif;
}