{{> header }}

<div class="hero" style="background-image:url({{ page.hero.fields.file.url }})">
	<div class="hero-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
					<h1>{{ page.subtitle }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2">
					<p class="lead">{{ page.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{#if page.sticky.feature }}
<div class="sticky-feature" style="background-image:url({{ page.sticky.feature.fields.featuredImage.fields.file.url }})">
	<div class="sticky-feature-overlay"></div>
	<div class="sticky-feature-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					{{#if page.sticky.feature.fields.icon }}
					<div class="sticky-feature-icon">
						<img src="{{ page.sticky.feature.fields.icon.fields.file.url }}" alt="{{ this.fields.title }}" />
					</div>
					{{/if}}
					<h2>{{ page.sticky.feature.fields.title }}</h2>
					<p>{{ page.sticky.feature.fields.description }}</p>
					<p>
						<button class="btn btn-primary">
							Get Started
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if }}

{{#if page.sticky.advertisement  }}
<div class="advertisement" style="background-image:url({{ page.sticky.advertisement.fields.featuredImage.fields.file.url }})">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
				<h2>{{ page.sticky.advertisement.fields.title }}</h2>
				<p>{{ page.sticky.advertisement.fields.description }}</p>
				{{#if page.sticky.advertisement.fields.buttonUrl  }}
				<p>
					<a href="{{ page.sticky.advertisement.fields.buttonUrl }}" class="btn btn-default btn-lg">
						{{#if page.sticky.advertisement.fields.buttonText }}
						{{ page.sticky.advertisement.fields.buttonText }}
						{{ else }}
						Learn More
						{{/if}}
					</a>
				</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/if}}

{{#if page.features }}
<div class="container">
	{{#each page.features }}
	<div class="feature {{#even_odd @index }}even{{ else }}odd{{/even_odd}}">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-image">
				<div class="feature-image-inner">
					<img src="{{ this.fields.featuredImage.fields.file.url }}" alt="{{ this.fields.title }}" />
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-content">
				<div class="feature-content-inner ">
					{{#if this.fields.icon }}
					<div class="feature-icon">
						<img src="{{ this.fields.icon.fields.file.url }}" alt="{{ this.fields.title }}" />
					</div>
					{{/if}}
					<h2>{{ this.fields.title }}</h2>
					<p>{{ this.fields.description }}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if }}

{{#if page.advertisements  }}
{{#each page.advertisements }}
<div class="advertisement" style="background-image:url({{ this.fields.featuredImage.fields.file.url }})">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
				<h2>{{ this.fields.title }}</h2>
				<p>{{ this.fields.description }}</p>
				{{#if this.fields.buttonUrl  }}
				<p>
					<a href="{{ this.fields.buttonUrl }}" class="btn btn-default btn-lg">
						{{#if this.fields.buttonText }}
						{{ this.fields.buttonText }}
						{{ else }}
						Learn More
						{{/if}}
					</a>
				</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/each}}
{{/if}}

{{> footer }}
