{{> header }}

<div class="hero" style="background-image:url({{ page.hero.fields.file.url }})">
	<div class="hero-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{ page.subtitle }}</h1>
					<p class="lead">{{ page.description }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{#if page.intro }}
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="intro-inner">
					{{#markdown}}{{ page.intro }}{{/markdown}}
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

{{#if page.gallery }}
<div class="gallery">
	<div class="container">
		<div class="row">
			{{#each page.gallery }}
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<img src="{{ this.fields.file.url }}" alt="{{ this.feilds.title }}" />
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{/if}}

{{#if page.content }}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="content-inner">
					{{#markdown}}{{ page.content }}{{/markdown}}
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

{{#if page.features }}
<div class="container">
	{{#each page.features }}
	<div class="feature {{#even_odd @index }}even{{ else }}odd{{/even_odd}}">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 feature-image">
				<div class="feature-image-inner">
					<img src="{{ this.fields.featuredImage.fields.file.url }}" alt="{{ this.fields.title }}" />
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 feature-content">
				<div class="feature-content-inner ">
					{{#if this.fields.icon }}
					<div class="feature-icon">
						<img src="{{ this.fields.icon.fields.file.url }}" alt="{{ this.fields.title }}" />
					</div>
					{{/if}}
					<h2>{{ this.fields.title }}</h2>
					<p>{{ this.fields.description }}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if }}

{{> footer }}
