{{> header }}

<div class="hero" style="background-image:url({{ page.hero.fields.file.url }})">
	<div class="hero-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{ page.subtitle }}</h1>
					<p class="lead">{{ page.description }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-bottom">
		{{#if page.partners }}
		<p class="lead">
			Scroll to see our partners
			<br />
			<span class="glyphicon glyphicon glyphicon-menu-down"></span>
		</p>
		{{/if }}
	</div>
</div>

{{#if page.partners }}
<div class="partners">
	{{#each page.partners }}
	<div class="partners-row {{#even_odd @index }}even{{ else }}odd{{/even_odd}}">
		<div class="container">
			<div class="row">
				{{#each this }}
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="partner">
						<div class="partner-image" style="background-image:url({{ this.fields.featuredImage.fields.file.url }});"></div>
						<p>{{ this.fields.description }}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if }}

{{> footer }}
