@font-face {
  font-family: 'IBMPlexSans-SemiBold';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-SemiBold.otf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans-SemiBold';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-SemiBold.otf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans-Medium';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Medium.otf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSans-Bold';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Bold.otf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
#Features {
  margin-top: 20%;
}
.tab-content .lead {
  margin-top: 20px;
  color: #777777
}
.marg {
  margin-top: 20px;
}
.marg h3 {
  color: #807d7d;
  font-family: IBMPlexSans-SemiBold;
}
.prix #image-box {
  width: 100%;
  border-radius: 6px solid #fff;
}
.prix-text {
  font-size: 75px;
  color: #0058b1;
  font-family: IBMPlexSans-SemiBold;
  padding-top: 80px;
}
.prix-text span {
  font-size: 80px;
  color: #0058b1;
  font-family: IBMPlexSans-SemiBold;
  padding-top: 80px;
  font-weight: bold;
}
.prixx p {
  font-size: 22px;
  color: #fff;
  padding-top: 2px;
  font-family: IBMPlexSans-SemiBold;
  padding-bottom: 15px;
}
.prixx small {
  font-size: 18px;
  color: #fff;
  padding-top: 2px;
  font-family: IBMPlexSans-SemiBold;
  padding-bottom: 15px;
}
.prixx h4 {
  padding-top: 20px;
  font-size: 35px;
  color: #fff;
}
.color-1 {
  background: linear-gradient(-30deg, ##74c2fd, #032e7b);
  background: -webkit-linear-gradient(-30deg, #74c2fd, #032e7b);
  background: -moz-linear-gradient(-30deg, #74c2fd, #032e7b);
  background: -o-linear-gradient(-30deg, #74c2fd, #032e7b);
}
.color-2 {
  background: linear-gradient(-30deg, #d57bff, #480684);
  background: -webkit-linear-gradient(-30deg, #d57bff, #480684);
  background: -moz-linear-gradient(-30deg, #d57bff, #480684);
  background: -o-linear-gradient(-30deg, #d57bff, #480684);
}
.back-with {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 10px;
}
.back-with p {
  color: #000;
  font-size: 15px;
  font-family: IBMPlexSans-SemiBold;
  padding-bottom: 5px;
  text-align: justify;
}
.titl {
  text-align: center;
  color: #2c303d;
  font-size: 50px;
  line-height: 50px;
  margin-top: 70px;
  font-family: IBMPlexSans-SemiBold;
  padding: 0px 20px 0px 20px;
}
.Q2 {
  color: #bfbaba;
  margin-bottom: 25px;
}
footer {
  background-color: #353535
}
footer p {
  font-size: 17px;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}
#image-box {
  box-shadow: 0 7px 27px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0 7px 27px rgba(0, 0, 0, 0.52);
}
.box-image {
  margin-top: 25px;
}
.padd {
  padding-top: 30px;
}
.box {
  float: left;
  width: 100%;
  position: absolute;
  z-index: 999999999;
  bottom: -10%;
}
.mobile-nav i {
  font-size: 20px;
}
#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 50px;
}
.navbar-brand>img {
  margin-top: -6px
}
.hero {
  background: linear-gradient(-75deg, #2499f1, #033b9c);
  background: -webkit-linear-gradient(-75deg, #2499f1, #033b9c);
  background: -moz-linear-gradient(-75deg, #2499f1, #033b9c);
  background: -o-linear-gradient(-75deg, #2499f1, #033b9c);
}
h1 {
  font-size: 52px;
  font-family: IBMPlexSans-SemiBold;
  color: #fff;
  text-align: center;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 200px;
}
h2 {
  color: #fff;
  font-family: IBMPlexSans-SemiBold;
}
p {
  /*font-size: 20px*/
  margin: 0px;
  line-height: 28px;
  color: #fff;
  padding-top: 25px;
  font-family: IBMPlexSans-SemiBold;
}
.btn.btn-default.get {
  background-color: #6ac700;
  /* Green */
  border: none;
  color: white;
  font-family: "IBMPlexSans-SemiBold", sans-serif;
  padding: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 75px;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}
.Q1 {
  color: #699ed9;
  font-family: IBMPlexSans-SemiBold;
  margin-bottom: 40px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 2px 35px;
  margin: auto;
  width: 100%;
}
.title {
  text-align: center;
  color: #2c303d;
  font-size: 36px;
  line-height: 50px;
  margin-top: 70px;
  font-family: IBMPlexSans-SemiBold;
  padding: 0px 20px 0px 20px;
}
.lead {
  color: #999999;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  font-family: IBMPlexSans-SemiBold;
  padding: 0px 20px 0px 20px;
}
.btn.btn-default.get {
  border-radius: 4px;
}
.col-md-12.features.col-md-4 img {
  text-align: center;
}
.line {
  margin-bottom: 65px;
  margin-top: 15px;
}
.line-bg {
  margin-bottom: 10px;
  margin-top: 40px;
}
.title-bg {
  color: #2c303d;
  font-size: 36px;
  line-height: 50px;
  margin-top: 10px;
  font-family: IBMPlexSans-SemiBold;
  padding: 0px 20px 0px 20px;
}
.lead-bg {
  color: #999999;
  font-size: 17px;
  line-height: 25px;
  font-family: IBMPlexSans-SemiBold;
  padding: 0px 160px 0px 20px;
}
.img-title {
  font-size: 23px;
  color: #2c303d;
  font-weight: bold;
  font-family: IBMPlexSans-Bold;
  margin-bottom: 10px;
}
.img-description {
  font-size: 16px;
  line-height: 22px;
  color: #777272;
  /*  padding: 0px 20px 0px 20px;
*/
  font-family: IBMPlexSans-SemiBold;
}
.bg {
  background-color: #eaf1f9;
  margin-top: 60px;
  /*  padding: 80px;*/
}
.icones {
  margin-top: 25px;
  padding-left: 20px;
}
.img-pc {
  margin-top: 25px;
  width: 100%;
}
.text-center.hr {
  margin-bottom: 60px;
  margin-top: 90px;
  border-bottom: 2px solid #e0e0e0;
  z-index: 99999999999;
}
.col-md-6.icone {
  margin-top: 100px;
}
/*.video{
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}*/

.player {
  margin-top: 25%;
  margin-bottom: 25%
}
.video-link {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 48%;
}
.img-video {
  border-radius: 10px 10px 10px 10px;
}
.border {
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #e8e7e7;
  margin: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}
.border img {
  border-radius: 50%;
  width: 70px;
  padding: 20px 2px 20px 2px
}
.email {
  margin-bottom: 20px;
}
.btn.btn-default.get:hover, .btn.btn-default.get:active, .btn.btn-default.get:focus {
  background: #599416;
  color: #fff;
}
.mac-air {
  position: absolute;
  left: 0%;
  bottom: 2px;
}
.hero-inner {
  min-height: 800px;
}
.lead-bg.for-box {
  /*text-align: right;*/
}
.lead-bg.desc {
  padding: 26px 0px 0px 0px;
}
.nom {
  color: #2c303d;
  font-size: 14px;
  line-height: 20px;
  font-family: IBMPlexSans-SemiBold;
  font-weight: bold;
  margin-bottom: 25px;
}
.button {
  margin-top: 20px;
}
.bg.back {
  background-color: #fff !important;
  margin-top: 60px;
  padding: 10px;
}
.categorie {
  color: black;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.bg.active {
  background-color: #f6f7fb;
  margin-top: 60px;
  padding: 10px;
}
.prix {
  font-size: 70px;
  line-height: 98px;
  color: #2c303d;
  font-family: 'IBMPlexSans-SemiBold_italic', sans-serif;
  text-align: center;
}
.month {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding-top: 2px;
  font-family: IBMPlexSans-SemiBold;
}
.up-to {
  color: #2c303d;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
input[type=text] {
  width: 45%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 15px;
  background-color: #f6f7fb;
  padding: 10px;
  font-family: IBMPlexSans-SemiBold;
  padding-bottom: 15px;
}
.btn.btn-default.get.subscribe {
  border-radius: 0px 50px 50px 0px;
  margin: -5px;
  padding: 13px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 16px;
}
.bg-footer {
  background-color: #2c303d;
  height: 76px;
}
.text {
  ont-size: 14px !important;
  line-height: 20px;
  text-align: left;
}
i {
  color: #fff;
  /*display: inline-block;*/
  /*  width: 30px;
  font-size: 20px;
  margin-top: 12%;
  text-align: right;*/
}
.footer {
  text-align: left;
  background-color: #2c303d;
  /*padding:50px 0 50px 0;*/
}
.footer .footer-share li {
  display: inline-block;
  float: none;
}
.footer .footer-share a {
  border: none;
  font-size: 17px;
  letter-spacing: 20px;
  color: rgba(255, 255, 255, 0.25);
}
.footer p {
  padding-top: 0px;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.nav {
  list-style: none;
  display: block;
  /*    margin: auto;
    width: 100%;*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000;
  border-bottom: 6px solid #0058b1;
  background: transparent;
}
.nav.nav-pills.days a {
  font-size: 18px;
  font-family: IBMPlexSans-SemiBold;
  color: #000
}
#myNavbar a {
  color: #fff;
  font-family: IBMPlexSans-SemiBold;
  font-size: 17px;
  padding: 25px;
}
#closer_videopopup {
  position: absolute;
  display: table-cell;
  right: 2%;
  top: 2%;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  padding: auto;
  cursor: default;
  background: none;
  border: none;
  color: #ffffff;
  z-index: 100004;
}
#opct {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.9;
  background: rgb(0, 0, 0) !important;
}
#videCont {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto;
  max-width: 720px;
  height: 0;
  height: auto !important;
}
video {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  opacity: 1 !important;
}
#video1 {
  cursor: pointer;
  cursor: hand;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin-top: 0;
    /*background: #fff;*/
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #fh5co-header .navbar-brand {
    color: #6173f4 !important;
  }
  #fh5co-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-header #navbar li a:hover {
    color: #6173f4 !important;
  }
  #fh5co-header #navbar li a span:before {
    background: transparent !important;
  }
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #6173f4 !important;
  }
  #fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #fff;
  position: relative;
  font-size: 16px;
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6173f4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #6173f4;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #6173f4;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #6173f4;
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#fh5co-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
  color: #6173f4;
  font-style: normal;
}
#fh5co-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading h2 {
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #6173f4;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}
.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #6173f4;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #6173f4;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #6173f4;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #6173f4;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
  background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media(max-width:767px) {
  .col-md-6.col-md-offset-3.text-center.hr {
    display: none;
  }
  .lead {
    padding: 0px 0px 0px 0px;
  }
  .img-description {
    padding: 10px 20px 10px 20px;
  }
  .lead-bg {
    padding: 0px 20px 0px 20px;
  }
  .title-bg {
    font-size: 18px;
    line-height: 25px;
  }
  .col-md-6.icone {
    margin-top: 0px;
  }
  .Benefitsicon2 {
    margin-top: 20px;
  }
  .img-video {
    width: 70%;
  }
  /*  .box {
    width: 100%;
  }*/
  i {
    top: 15%;
  }
  .plyer {
    width: 10%;
    margin-top: -4%;
  }
  .title {
    font-size: 25px;
  }
  .border img {
    width: 40%;
    display: block;
    margin: auto;
  }
  .lead-bg.desc {
    text-align: center;
  }
  .nom {
    text-align: center;
  }
  .lead {
    font-size: 20px;
  }
  .btn.btn-default.get.subscribe {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    text-align: center;
  }
  ol, ul {
    text-align: center;
  }
}
.mac {
  width: 50%;
  display: block;
  margin: auto;
}
.modal-body .form-horizontal .col-sm-2, .modal-body .form-horizontal .col-sm-10 {
  width: 100%
}
.modal-body .form-horizontal .control-label {
  text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
  margin-left: 15px;
}
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  .box-image #image-box {
    width: 100%;
  }
  .nav.nav-pills.days a {
    font-size: 15px;
  }
  .nav>li>a {
    padding: 2px 12px;
  }
  .prix-text span {
    font-size: 40px;
  }
  .prix-text {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 9px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    background: #000;
  }
  .box {
    bottom: -29%;
  }
  .mac {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .nav>li>a {
    padding: 2px 18px;
  }
  .nav.nav-pills.days a {
    font-size: 18px
  }
}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .nav>li>a {
    padding: 2px 50px;
  }
  .nav.nav-pills.days a {
    font-size: 20px
  }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    background: transparent;
  }
  .box {
    bottom: 4%;
  }
  .mac {
    width: 100%;
  }
}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .nav>li>a {
    padding: 2px 18px;
  }
  .nav.nav-pills.days a {
    font-size: 18px
  }
    .nav>li>a {
    padding: 2px 35px;
  }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    background: transparent;
  }
  .box {
    bottom: -20%;
  }
  .mac {
    width: 60%;
  }
}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}