html, body {
	width: 100%;
	height: 100%;
}
body {
	/*width: 1920px;*/
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	float: right;
	height: 90px;
}
li {
	float: left;
}
header .open-menu {
	display: none;
}
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
}
header li a:hover:not(.active) {
	background-color: #fff;
	color: #0c6661;
}
.fa {
	font-size: 30px !important;
	margin-left: 10px;
}
.logo {
	width: 100px;
	position: absolute;
	z-index: 999;
	top: 45px;
	left: 6%;
}
.logo img {
	width: 100%;
}
.menu {
	padding: 0px 0 9px 0;
	background: linear-gradient(141deg, #0c6661 0%, #0c6661 51%, #0c6661 75%);
	background-color: rgba(0, 0, 0, 0);
	
	background-repeat: repeat;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto auto;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999999999999999;
}
.slide {
	position: relative;
	font-size: 18px;
}
.slide img {
	width: 100%;
}
.slide-content {
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	font-size: 18px;
	padding: 0 50px;
}
img {
	width: 100%;
	height: auto;
	height: 100%;
	width: auto;
	vertical-align: top;
}
.slide-content h1 {
	font-size: 40px;
	font-family: 'Cabin', sans-serif;
	color: #fff;
}
.slide-content p {
	color: #fff;
}
.img-world {
	width: 40%;
	float: right;
	padding: 10px;
}
.spanee {
	color: #00b4f5;
}
.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 15px;
}
.texteslide {
	font-family: 'Cabin', sans-serif;
}
/*------------------------------------------------------------------------------------------------- div 2      ========================================================================== */

.four-blocks {
	background-color: #dddddd;
	width: 100%;
	display: block;
	margin: auto;
	padding: 30px 15px 50px 15px;
	float: left;
}
.box {
	margin-top: 5%;
	background-color: white;
	float: left;
	padding: 10px 10px 10px 10px;
	margin-right: 3.79%;
	width: 22.1%;
	height: 400px;
}
.four-blocks .box:last-child {
	margin-right: 0;
}
.box img {
	display: block;
	margin: 0 auto;
	margin-top: 2%;
}
.box p {
	text-align: center;
	margin-bottom: 15%;
	font-family: 'Cabin', sans-serif;
	color: #ababab;
	line-height: 22px;
	letter-spacing: 0.5px;
}
.title {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	margin-top: 1%;
	color: black!important;
}
.four-blocks.box {
	background-color: #fff;
}
.subox img {
	display: block;
	float: right;
	margin-top: 1%;
}
.subox {
	position: relative;
	float: left;
	width: 100%;
}
.content-text h2 {
	display: block;
	float: left;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	position: relative;
	padding-left: 36px;
}
.content-text h2:before {
	content: "";
	background: url(../img/before.png);
	width: 47px;
	height: 25px;
	display: block;
	position: absolute;
	left: -15px;
	top: -7px;
}
.subox- p {
	font-size: 16px;
	color: #848282 !important;
	float: right;
	padding-left: 33px;
	line-height: 25px;
	letter-spacing: .5px;
}
.content-text {
	width: 50%;
	float: left;
	padding-top: 110px;
}
.btn {
	background-color: #23a2d0;
	/* bleu */
	font-family: 'Cabin', sans-serif;
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin: 70px 2px;
	cursor: pointer;
	border-radius: 8px;
	width: 12%;
}
.button {
	width: 58%;
	float: right;
}
/*------------------------------------------------------------------------------------------------- div 3      ========================================================================== */

.world-div {
	background-image: url(../img/back.png);
	background-size: cover;
	/*background-color: red;*/
	background-repeat: no-repeat;
	clear: both;
	float: left;
	width: 100%;
}
.block {
	width: 50%;
	display: block;
	float: right;
	margin: 10px 10px 10px 10px;
}
.worldbox {
	width: 50%;
	display: block;
	float: left;
	padding: 20px 20px 20px 20px;
}
.worldtitle {
	font-family: 'Cabin', sans-serif;
	color: #fff;
	font-size: 20px;
}
.worldtexte {
	color: #eaf6fe;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
}
.worldtitlenom {
	font-family: 'Catamaran', sans-serif;
	color: #fff;
	font-size: 30px;
	border-bottom: 6px solid;
	width: 60px;
	padding-bottom: 8px;
}
.block2eme {
	width: 40%;
	display: block;
	float: left;
	margin-top: 14%;
}
.worldtitle2eme {
	width: 100%;
	display: block;
	float: left;
	margin-left: 200px;
	color: #fff;
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
}
.btn2eme {
	background-color: #23a2d0;
	/* bleu */
	font-family: 'Cabin', sans-serif;
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	border-radius: 8px;
	width: 34%;
}
.button2eme {
	width: 55%;
	float: left;
	padding: 10px;
	margin-left: 34px;
	margin-top: 35px;
}
.worldbox2eme h2:before {
	content: "";
	background: url(../img/before2eme.png);
	width: 60px;
	height: 25px;
	display: block;
	position: absolute;
	left: -15px;
	top: -7px;
	margin-left: -45px;
	margin-top: 6px;
}
.worldbox2eme .title2eme {
	color: #fff;
	font-family: 'Cabin', sans-serif;
	margin-left: 50px;
	position: relative;
}
/*------------------------------------------------------------------------------------------------- div 4      ========================================================================== */

.minislide {
	background-color: white;
	position: relative;
	float: left;
	width: 100%;
}
.minislide .bx-wrapper {
	margin: auto;
}
.minislide .slider {
	margin: 70px 0;
}
.minislide .slider img {
	display: block;
	margin: auto;
}
.bx-wrapper .bx-controls-direction a {
	text-indent: 0 !important;
}
.minislide .owl-prev {
	left: -2px !important;
	background: url(../img/icone-sld/prev.png) no-repeat 0 8px !important;
	color: transparent;
}
.minislide .owl-next {
	right: -13px !important;
	background: url(../img/icone-sld/next.png) no-repeat 0 8px !important;
	color: transparent;
}
.minislide .owl-controls .owl-buttons div {
	position: absolute;
	top: 31px;
}
.bx-wrapper {
	margin: 89px !important;
}
/*------------------------------------------------------------------------------------------------- footer    ========================================================================== */

.profile {
	background-color: #dddddd;
	width: 100%;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
}
.deuxprofile .ombres_multiples_diffuses {
	display: block;
	margin: auto;
	position: relative;
	margin-right: 8.4%;
}
.deuxprofile .ombres_multiples_diffuses img {
	height: 86px;
	display: block;
	margin: auto;
}
.ombres_multiples_diffuses {
	background-color: #fff;
	width: 45.8%;
	;
	height: 500px;
	display: block;
	float: left;
	margin: 50px;
}
.ombres_multiples_diffuses .info-profile {
	margin: auto;
	position: absolute;
	margin-top: 165px;
	left: 0;
	right: 0;
}
.deuxprofile {
	max-width: 1090px;
	margin: auto;
}
.ombres_multiples_diffuses:last-child {
	margin-right: 0;
}
.deuxprofile .ombres_multiples_diffuses h2 {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	text-align: center;
}
.info p {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 30px;
	color: #ababab;
}
.info img {
	height: 17px !important;
	margin-top: 60px !important;
}
footer {
	background-color: black;
	float: left;
	width: 100%;
}
.su-div {
	background-color: #1f1f1f;
	width: 730px;
	border-top: 10px solid;
	color: #0c6661;
	margin-bottom: 20px;
	float: left;
}
.su-div p {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	padding: 25px;
	color: #fbfbfb;
	line-height: 25px;
	letter-spacing: 0.5px;
}
.su-div img {
	height: 80px;
	margin-top: 40px;
	margin-left: 35px;
	float: left;
}
.su-div .titile {
	margin-top: 50px;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	padding-left: 130px;
}
.su-div .titile span {
	margin-top: 50px;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	color: #0096d5;
}
.su-div .titile {
	color: #fff
}
.ombre_droite_haut {
	box-shadow: 60px -16px #fff;
	/* la valeur négative décale à droite */
}
.ombre_interieure {
	box-shadow: inset 5em 1em #fff;
	/* le mot-clé inset renverse l'ombre à l'intérieur */
}
.ombres_multiples_diffuses {
	box-shadow: inset 0 0 1em #fff, 0 0 2em black;
	/* deux ombres dans la liste et des rayons de flou pour chacune */
}
.c-menu--push-right img {
	width: 120px;
	padding: 20px;
	float: left;
}
.facebook i {
	color: black;
	margin-left: 0;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 18px;
	margin-bottom: 7px;
}
.su-div-c-menu {
	color: #0096d5;
	margin-bottom: 20px;
}
.icone-c-menu {
	color: #0096d5;
	display: block;
}
.block-icone {
	padding: 20px;
	margin: 10px;
	float: left;
}
.icone-menu {
	clear: left;
}
.icone-menu p {
	font-size: 14px;
	margin-left: 10px;
	color: black
}
.icone-menu .fa {
	font-size: 20px !important;
	color: #0096d5;
	margin-right: 10px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border-bottom: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	border: 0px;
	border-bottom: 2px solid #424242;
	border-radius: 0;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}
.form-contact {
	float: left;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.btn-menu {
	float: right;
	margin-bottom: 10px;
}
.titile-c {
	float: left;
	margin-top: 50px;
}
.titile-c span {
	margin-top: 50px;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	color: #0096d5;
}
.icone a {
	clear: both;
	display: block;
	line-height: 61px;
	text-align: center;
	color: #fff;
}
.icone a i {
	height: 54px;
	float: left;
	width: 54px;
	display: block;
	line-height: 50px;
}
.icone {
	margin-bottom: 10px;
}


.copyright{	clear: both;
			text-align: center;
		}

.desktop-menu{
	    float: none;
    display: table;
    margin: auto;
}		

.desktop-menu-parte2{
	    float: right;
    position: absolute;
    right: 0;
    top: 0;
    
}
.desktop-menu-parte2 a{
	color:#fff;
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
}

.desktop-menu-parte2  a:hover:not(.active) {
    background-color: #fff;
    color: #0c6661;
}




.four-blocks.tarif {
	background-color: #0c6661;
	width: 100%;
	display: block;
	margin: auto;
	padding: 30px 15px 50px 15px;
	float: left;
}

.prix{font-size: 50px;font-family: 'Cabin', sans-serif;color: #0c6661 !important;}

	.contact-desktop{

		display: block;
	}
	.contact-mobile{
		margin-top: 21px;
		display: none !important;
	}