@media screen and (max-width: 1480px) {
	.slide-content h1 br {
		display: none;
	}
	.slide-content {
		top: 30%;
	}
	.slide-content h1 {
		font-size: 32px;
	}
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {
	.icone {
		margin-bottom: 10px;
		float: left;
		padding-right: 20px;
	}
	.su-div {
		width: 100%;
	}
	.info img {
		margin-top: 20px !important;
	}
	header li a {
		font-size: 20px;
		padding: 31.5px 15px;
	}
	.box {
		width: 46.2%;
		margin-right: 7.6%;
	}
	.box:nth-child(even) {
		margin-right: 0 !important;
	}
	.subox img {
		position: absolute;
		bottom: 0;
		width: 40%;
		right: 0;
	}
	.block2eme {
		width: 100%;
		margin-top: 40px;
	}
	.block {
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	.contact-desktop{
		display: none;
	}
	.contact-mobile{
		display: block !important;
	}
	.c-button{
	    padding: 0px 24px !important;
}
	header li a {
    font-size: 20px;
    padding: 17px 15px;
}
	header li a:hover:not(.active) {
    background-color: #949494;
    color: #fff;
  
}

.desktop-menu-parte2  a:hover:not(.active){background-color: transparent !important;}

	.desktop-menu {
		display: none;
	}
		header .open-menu i {
		color: #fff;
		width: 105px;
		text-align: center;
		height: 59px;
		line-height: 56px;
		margin: 5px 1px;
	}
	header .open-menu {
		text-align: center;
		display: block !important;
	}
	.desktop-menu li{
		float: none;
		background-color: #0c6661;
	}
}
@media screen and (max-width: 800px) {
	.slide-content {
		top: 26%;
	}
	.slide-content h1 {
		font-size: 25px;
	}

}
@media screen and (max-width: 768px) {
	.c-menu--push-right {
		width: 87%;
	}
	.su-div p {
		padding: 10px;
	}
	.su-div img {
		margin-left: 12px;
	}
	.ombres_multiples_diffuses {
		width: 100%;
		margin-bottom: 25px !important;
	}
	.img-world {
		width: 100%;
	}
	.subox img {
		position: static;
		margin: auto;
		display: block;
		float: none;
	}
	.content-text {
		padding-top: 32px;
		width: 100%;
	}
	.subox {
		padding: 25px 0px;
	}
	.menu {
		background: #0c6661 !important;
		height: 70px;
	}
	.slide-content {
		top: 21%;
	}
	header li {
		background: #0c6661;
	}
	header {
		background: transparent !important;
	}
	header li {
		float: none;
	}



	.logo {
		width: 92px;
		height: 92px;
		top: 10px
	}
}
@media screen and (max-width: 650px) {
	.slide img {
		display: none;
	}
	.slide {
		min-height: 360px;
		background: url(../img/banner--.jpg);
	}
	.slide-content h1 {
		font-size: 20px;
	}
	.slide-content {
		padding: 0 20px;
		top: 204px;
	}
}
@media screen and (max-width: 540px) {
	.box {
		width: 100%;
	}
	.worldbox {
		width: 100%;
		padding: 0 20px 0 20px;
	}
	.icone {
		float: none;
	}
	.su-div-c-menu img {
		display: none;
	}
	.su-div-c-menu .titile-c {
		padding-top: 27px;
		padding-left: 28px;
	}
	iframe {
		width: 100%;
	}
}