            @media(max-width:1800px) {
            	.carousel-caption {
            		display: none !important;
            	}
            }
            /* For mobile phones: */

            @media only screen and (min-width: 600px) {
            	/* For tablets: */
            	.navbar-inverse .navbar-nav>li>a {
	              font-family: 'Saira Semi Condensed', sans-serif;
	              color: #d1d1d1;
	              font-size: 12px;
	              min-height: 53px;
	            }

            }
            @media only screen and (min-width: 768px) {
            	/* For desktop: */
            	
            }