            body {
              padding-top: 50px;
            }
            .section-text h3 {
              color: #00B4BC;
              font-size: 20px;
              margin-bottom: 0px;
              font-family: Verdana;
            }
            .carousel-caption {
              top: 210px;
            }
            .section-text p {
              color: #fff;
              font-size: 17px;
              font-family: Verdana;
            }
            .section-text em {
              padding-right: 8px;
              font-family: Verdana;
            }
            #ADVANTAGES {
              padding-top: 20px;
            }
            .text-image {
              font-size: 17px;
              color: #00B4BC;
              font-family: Verdana;
              padding-top: 15px;
              text-align: right;
            }
            .section-text.ABOUT p {
              color: #fff;
              font-size: 16px;
              font-family: Verdana;
            }
            #ABOUT {
              background-color: #11191c;
            }
            .ABOUTUS-text{
              margin-left: 20px;
            }
            .ad {
              position: absolute;
              bottom: 70px;
              right: 48px;
              z-index: 992;
              background-color: #f3f3f3;
              position: fixed;
              width: 155px;
              padding: 1px;
            }
            .ad-btn-hide {
              position: absolute;
              top: -10px;
              left: -12px;
              background: #fefefe;
              background: rgba(240, 240, 240, 0.9);
              border: 0;
              border-radius: 26px;
              cursor: pointer;
              padding: 2px;
              height: 25px;
              width: 25px;
              font-size: 14px;
              vertical-align: top;
              outline: 0;
            }
            .carbon-img {
              float: left;
              padding: 10px;
            }
            .glyphicon-chevron-right {
              right: 25%;
            }
            .carbon-text {
              color: #888;
              display: inline-block;
              font-family: Verdana;
              font-size: 11px;
              font-weight: 400;
              height: 60px;
              margin-left: 9px;
              width: 142px;
              padding-top: 10px;
            }
            .carbon-text:hover {
              color: #666;
            }
            .carbon-poweredby {
              color: #6A6A6A;
              float: left;
              font-family: Verdana;
              font-size: 11px;
              font-weight: 400;
              margin-left: 10px;
              margin-top: 13px;
              text-align: center;
            }
            .navbar-inverse {
              border-color: transparent;
              background-color: #000;
            }
            .navbar-inverse .navbar-nav>li>a {
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #d1d1d1;
              font-size: 18px;
              min-height: 53px;
            }
            .navbar-inverse .navbar-nav li a:hover {
              border-bottom: 3px solid #02a2a5 ! important;
              margin-bottom: 0px ! important;
            }
            .logo {
              position: absolute;
              left: 60px;
              width: 270px;
            }
            .pull-right {
              margin-right: 20px;
            }
            .carousel-inner>.item>img, .carousel-inner>.item>a>img {
              width: 100%;
            }
            nav {
              position: fixed;
              z-index: 999999;
              width: 100%;
            }
            .grand-text {
              font-size: 100px;
              font-family: 'Saira Semi Condensed', sans-serif;
              letter-spacing: 0px;
              margin-bottom: 80px;
            }
            .title-carousel {
              font-size: 50px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #fff;
              text-align: center;
              /*border-bottom: 6px solid #00B4BC;*/
              Line-height: 60pt;
              letter-spacing: 1px;
              margin-bottom: 60px;
            }
            .title-carousel:after {
              height: 4px;
              display: block;
              width: 100px;
              background: #00B4BC;
              border-right: 1px white;
              content: '';
              margin: auto;
            }
            .petit-text {
              font-size: 40px;
              font-family: 'Open Sans', sans-serif;
              margin-bottom: 10%;
            }
            .caractere {
              font-size: 300px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #00b4b8;
              font-weight: bold;
              float: left;
              margin-top: 22px;
            }
            #caractere {
              float: left;
              display: block;
              position: absolute;
              top: 65px;
            }
            .glyphicon.glyphicon-chevron-right {
              background-color: white;
              float: right;
              background: url(../img/next.png) no-repeat !important;
              color: transparent;
              width: 50px !important;
              height: 35px !important;
            }
            .glyphicon.glyphicon-chevron-left {
              background-color: white;
              float: right;
              background: url(../img/prev.png) no-repeat !important;
              color: transparent;
              width: 50px !important;
              height: 35px !important;
            }
            .carousel-indicators li {
              display: inline-block;
              width: 10px;
              height: 10px;
              margin: 1px;
              text-indent: -999px;
              cursor: pointer;
              background-color: #00b4b8;
              border: 1px solid #fff;
              border-radius: 10px;
              background: #00b3b8;
              width: 15px;
              height: 15px;
              border-radius: 20px;
            }
            .carousel-indicators .active {
              background: #fff;
              width: 15px;
              height: 15px;
              border-radius: 20px;
            }
            .title {
              font-size: 50px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #000;
              text-align: center;
              /*border-bottom: 6px solid #00B4BC;*/
              Line-height: 60pt;
              letter-spacing: 1px;
              margin-bottom: 50px;
            }
            .title:after {
              height: 4px;
              display: block;
              width: 100px;
              background: #00B4BC;
              border-right: 1px white;
              content: '';
              margin: auto;
            }
            .text-center {
              text-align: center;
              Font-Size: 22pt;
              font-family: 'Saira Semi Condensed', sans-serif;
            }
            .sutext {
              text-align: center;
              Font-Size: 12pt;
              font-family: 'Open Sans', sans-serif;
            }
            .button3 {
              border-radius: 8px;
            }
            .button {
              background-color: #00B4BC;
              /* Green */
              color: #000208;
              font-family: 'Saira Semi Condensed', SemiBold, sans-serif;
              font-weight: bold;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 22px;
              margin-top: 20px;
              cursor: pointer;
              padding: 12px 15px 15px 12px;
              display: block;
              margin: auto;
              border: 2px solid #00B4BC;
              margin-top: 50px;
              margin-bottom: 80px;
              width: 100%;
            }
            .button:hover {
              background-color: white;
              color: black;
              border: 2px solid #00B4BC;
            }
            .bg {
              background-color: #11191c;
            }
            .title.owl {
              font-size: 50px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #fff;
              text-align: center;
              /* border-bottom: 6px solid #00B4BC; */
              Line-height: 60pt;
              letter-spacing: 1px;
            }
            #owl-demo .item {
              margin: 5px;
            }
            #owl-demo .item img {
              display: block;
              width: 100%;
              height: auto;
            }
            .owl-pagination {
              text-align: center;
              position: absolute;
              bottom: -15px;
              width: 100%;
              -webkit-backface-visibility: hidden;
              -moz-backface-visibility: hidden;
              -ms-backface-visibility: hidden;
              backface-visibility: hidden;
            }
            .owl-page {
              border-radius: 50px;
              height: 10px;
              width: 10px;
              display: inline-block;
              background: #fff;
              margin-left: 5px;
              margin-right: 5px;
            }
            .owl-page.active {
              background: #00b3b8;
            }
            .owl-carousel .owl-wrapper-outer {
              margin-bottom: 20px;
            }
            .item h4 {
              font-size: 20px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #00A8B0;
              text-align: center;
            }
            .owl-numbers {
              display: none;
            }
            .url {
              font-family: 'Saira Semi Condensed', sans-serif;
              font-size: 22px;
              line-height: 18px;
              color: #00b4b8;
              font-weight: bold;
              margin-top: 20px;
              text-align: inherit !important;
            }
            .text-left {
              margin-top: 22px;
            }
            .sutext.img {
              margin-top: 20px;
              text-align: inherit !important;
              font-size: 14px;
              font-family: 'Open Sans', sans-serif;
            }
            .small {
              text-align: center;
              font-family: 'Saira Semi Condensed', SemiBold, sans-serif;
              color: #fff;
              font-size: 20px;
              letter-spacing: 1px;
              padding-top: 25px;
            }
            .bg2 {
              background-color: #00b4b8;
              margin-top: 20px;
            }
            .col-md-1.icone i {
              font-size: 25px;
              color: #fff;
              border: 4px solid #fff;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              line-height: 46px;
            }
            .col-md-1.icone i:hover {
              background-color: white;
              color: #00B4BC;
              border: 2px solid #00B4BC;
            }
            .col-md-1.icone {
              float: left;
              display: block;
              margin: auto;
              text-align: center;
              width: 87px;
              margin-top: 20px;
              margin-bottom: 20px;
            }
            .col-md-6.col-md-offset-3.icone {
              float: left;
              display: block;
              margin: auto;
            }
            .texte {
              color: green;
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              text-align: initial;
            }
            hr {
              width: 60%;
              left: 0;
            }
            .col-md-12.add h3 {
              font-size: 20px;
              color: #fff;
              font-family: 'Saira Semi Condensed', SemiBold, sans-serif;
              text-align: initial;
              letter-spacing: 1px;
            }
            .email {
              color: #00b4b8 ! important;
            }
            .col-md-12.add p {
              color: #bababa;
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
            }
            .nav-footer {
              position: absolute;
            }
            .col-md-12.border:before {
              min-height: 250px;
              display: block;
              width: 2px;
              float: left;
              background: #bababa;
              border-left: 1px white;
              content: '';
              margin: auto;
              margin-right: 40px;
              margin-top: 20px;
            }
            .nav-navbar-nav-footer li a {
              font-size: 18px;
              font-family: 'Saira Semi Condensed', SemiBold, sans-serif;
              display: block;
              color: #d7d7d7;
              border-bottom: 1px solid #fff;
              margin-bottom: 10px;
              width: 40%;
              text-align: initial;
            }
            .nav-navbar-nav-footer {
              margin-top: 40px;
              margin-left: 80px;
            }
            /*responsive*/

            /*-------------------------------------------------------------------------------------------re---------------------------------------------------------
*/

            @media (max-width: 575px) {
              .carousel-caption .grand-text {
                font-size: 18px;
                letter-spacing: 0px;
                margin-bottom: 40px;
                margin-top: -40%;
              }
              .carousel-caption {
                top: 210px;
              }
              .title-carousel {
                font-size: 14px;
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #fff;
                text-align: center;
                Line-height: 0pt;
                letter-spacing: 1px;
                margin-bottom: 0px;
              }
              .title-carousel:after {
                height: 4px;
                display: block;
                width: 70px;
                background: #00B4BC;
                border-right: 1px white;
                content: '';
                margin: auto;
              }
              #btntow {
                position: absolute;
                margin-top: -90px;
              }
              .logo {
                left: 20px;
                width: 40%;
                margin-top: -8px;
              }
              .navbar-toggle {
                margin-top: -15px;
              }
              .navbar {
                min-height: 0px;
              }
              .title, .title.owl {
                font-size: 30px;
              }
              .text-center {
                font-size: 18px;
              }
              .sutext, .sutext.img {
                font-size: 13px;
              }
              .text-left {
                font-size: 20px;
              }
              #icone {
                width: 25px !important;
                margin-left: none;
              }
              .nav-navbar-nav-footer {
                margin-left: 15px;
              }
              .nav-navbar-nav-footer li a {
                width: 50%;
                font-size: 14px;
              }
              .nav.navbar-nav.pull-right {
                display: none;
              }
              .navbar-inverse .navbar-nav>li>a {
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #d1d1d1;
                font-size: 12px !important;
                min-height: 53px;
                text-align: center;
              }
              .navbar-collapse {
                max-height: 380px;
                ;
              }
              .glyphicon-chevron-right {
                right: 25%;
              }
            }
            @media (max-width: 767px) {
              .carousel-caption .grand-text {
                font-size: 18px;
                letter-spacing: 0px;
                margin-bottom: 40px;
              }
              .carousel-caption {
                top: 210px;
              }
              .grand-text {
                font-size: 100px;
                font-family: 'Saira Semi Condensed', sans-serif;
                letter-spacing: 0px;
                margin-bottom: 80px;
              }
              .title-carousel {
                font-size: 14px;
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #fff;
                text-align: center;
                Line-height: 18pt;
                letter-spacing: 1px;
                margin-bottom: 2px;
              }
              .title-carousel:after {
                height: 4px;
                display: block;
                width: 40px;
                background: #00B4BC;
                border-right: 1px white;
                content: '';
                margin: auto;
              }
              .glyphicon-chevron-right {
                right: 25%;
              }
              .navbar-inverse .navbar-nav>li>a {
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #d1d1d1;
                font-size: 15px;
                min-height: 53px;
                padding: 5px;
                margin-top: 10px;
              }
              .nav.navbar-nav.pull-right {
                display: none;
              }
              .navbar-inverse .navbar-nav>li>a {
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #d1d1d1;
                font-size: 14px;
                min-height: 53px;
              }
            }
            @media (max-width: 991px) {
              #icone {
                width: 100px;
                margin-left: 9%;
              }
              .carousel-caption {
                top: 210px;
              }
              .logo {
                width: 240;
                margin-left: -4px !important;
              }
              .nav.navbar-nav.pull-right {
                display: none;
              }
              .navbar-inverse .navbar-nav>li>a {
                font-family: 'Saira Semi Condensed', sans-serif;
                color: #d1d1d1;
                font-size: 14px;
                min-height: 53px;
              }
            }
            @media (max-width: 1200px) {
              #icone {
                width: 65px;
              }
              .carousel-caption {
                display: block;
              }
              .carousel-caption {
                top: 140px;
              }
              .grand-text {
                font-size: 50px;
                font-family: 'Saira Semi Condensed', sans-serif;
                letter-spacing: 0px;
                margin-bottom: 80px;
              }
              /*            @media (max-width: 1920px) {
              #icone {
                width: 65px;
              }
                          .carousel-caption{
              top: 140px;
            }
              .carousel-caption .grand-text{
                font-size: 55px;
                letter-spacing: 0px;
              }
            .grand-text {
              font-size: 100px;
              font-family: 'Saira Semi Condensed', sans-serif;
              letter-spacing: 0px;
              margin-bottom: 80px;
            }
            .title-carousel {
              font-size: 40px;
              font-family: 'Saira Semi Condensed', sans-serif;
              color: #fff;
              text-align: center;
              Line-height: 45pt;
              letter-spacing: 1px;
              margin-bottom: 30px;
            }
            .title-carousel:after {
              height: 4px;
              display: block;
              width: 100px;
              background: #00B4BC;
              border-right: 1px white;
              content: '';
              margin: auto;
            }
            }*/