/* Layout
---------------------------------------------- */

html {
	height: 100%;
	min-height: 100%;
	position:relative;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	min-height: 100%;
	position:relative;
	padding: 0;
	margin: 0;
}

.hero {
	position: relative;
	height: 80%;
	min-height: 600px;
	background-color: $gray-lighter;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	@include breakpoint( 'xs' ){
		margin-bottom: 30px;
	}
	@include breakpoint( 'lg' ){
		margin-bottom: 120px;
	}			
	.hero-inner {
		position: relative;
		@include breakpoint( 'xs' ){
			top: 60%;
			transform: translateY(-60%);
		}
		@include breakpoint( 'sm' ){
			top: 50%;
			transform: translateY(-50%);
		}			
	}
	.hero-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: auto 0;
	}
	h1 {
		color: $white;
	}
	p {
		color: $white;
		font-size: 1.8rem;
	}
}

.sticky-feature {
	position: relative;
	background-repeat: no-repeat;
	background-size: auto 900px;
	@include breakpoint( 'xs' ){
		height: 680px;
		margin: 0 0 30px 0;
		background-position: right -9999px;
	}
	@include breakpoint( 'lg' ){
		height: 600px;
		margin: 0 0 160px 0;
		background-position: right -100px;
	}
	.sticky-feature-overlay {
		position: absolute;
		top: 122px;
		left: 0;
		height: 450px;
		z-index: 1;
		@include linear-gradient( 90deg, $gray-lighter 75%, rgba( $gray-lighter, 0 ) 100% );
		@include breakpoint( 'xs' ){
			width: 100%;
		}
		@include breakpoint( 'lg' ){
			width: 60%;
		}
	}
	.sticky-feature-inner {
		position: absolute;
		top: 170px;
		left: 0;
		width: 100%;
		z-index: 2;
		.sticky-feature-icon {
			width: 90px;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
		h2 {
			color: $brand-primary;
			margin: 40px 0 20px 0;
		}
		p {
			font-size: 1.8rem;
			margin-bottom: 40px;
		}
	}
}

.feature {
	@include breakpoint( 'xs' ){
		margin-bottom: 30px;
	}
	@include breakpoint( 'md' ){
		margin-bottom: 200px;
	}
	.feature-icon {
		width: 90px;
		height: auto;
		img {
			width: 100%;
			height: auto;
		}
		@include breakpoint( 'xs' ){
			display: none;
		}
		@include breakpoint( 'md' ){
			display: block;
		}		
	}
	h2 {
		color: $brand-primary;
		margin: 40px 0 20px 0;
	}
	p {
		font-size: 1.8rem;
		margin-bottom: 30px;
	}
	.feature-content {
		.feature-content-inner {
			padding: 30px;
		}
	}
	&.even {
		.feature-image {
			.feature-image-inner{
				display: block;
				position: relative;
				&:after {
					content : '';
					display: block;
					position: absolute;
					width: 100%;
				}
				@include breakpoint( 'xs' ){
					&:after {
						top: 0;
						left: 0;
						height: auto;
						border: none;
					}
				}
				@include breakpoint( 'sm' ){
					&:after {
						top: 20px;
						left: -20px;
						height: 100%;
						border: solid 1px $brand-primary;
					}
				}				
			}
		}
	}
	&.odd {
		.feature-image {
			float: right;
			.feature-image-inner{
				display: block;
				position: relative;
				@include breakpoint( 'xs' ){
					width: 100%;
					float: none;
				}
				@include breakpoint( 'sm' ){
					width: auto;
					float: right;
				}			
				&:after {
					content : '';
					display: block;
					position: absolute;
					width: 100%;
				}
				@include breakpoint( 'xs' ){
					&:after {
						top: 0;
						left: 0;
						height: auto;
						border: none;
					}
				}
				@include breakpoint( 'sm' ){
					&:after {
						top: 20px;
						left: 20px;
						height: 100%;
						border: solid 1px $brand-primary;
					}
				}
				img {
					@include breakpoint( 'xs' ){
						display: block;
						margin: auto;
						width: 40%;
					}
					@include breakpoint( 'sm' ){
						display: inline-block;
						margin: 0;
						width: inherit;
						float: right;
						max-height: 500px;
					}
				}
			}
		}
	}
}

.advertisement {
	background: black;
	color: $white;
	text-align: center;
	background-color: $gray-lighter;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint( 'xs' ){
		margin-bottom: 30px;
		padding: 30px 0;
	}
	@include breakpoint( 'md' ){
		margin-bottom: 200px;
		padding: 200px 0;
	}	
	h2 {
		margin-bottom: 15px;
	}
	p {
		font-size: 1.8rem;
		margin-bottom: 30px;
	}
	.btn {
		color: $black;
	}
}

.partners {
	.partners-row {
		padding: 100px 0;
		&.odd {
			background-color: $gray-lighter;
		}
		.partner {
			padding: 0 30px;
			.partner-image {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 200px;
				margin-bottom: 40px;
			}
			p {
				font-size: 1.8rem;
			}
		}
	}
}

.intro {
	background-color: $gray-lighter;
	@include breakpoint( 'xs' ){
		padding: 30px 0;
		margin-bottom: 30px;
	}
	@include breakpoint( 'md' ){
		padding: 80px 0;
		margin-bottom: 120px;
	}	
	p {
		font-size: 1.8rem;
	}
}

.gallery {
	@include breakpoint( 'xs' ){
		padding: 30px 0;
		margin-bottom: 30px;
		img {
			margin-top: 15px;
		}	
	}
	@include breakpoint( 'md' ){
		padding: 80px 0;
		margin-bottom: 120px;
	}	
}

.content {
	@include breakpoint( 'xs' ){
		margin-bottom: 30px;
		p {
			font-size: 1.8rem;
			padding: 0 15px;
		}	
	}
	@include breakpoint( 'md' ){
		margin-bottom: 120px;
		p {
			font-size: 1.8rem;
			padding: 0 80px;
		}		
	}	
}
