@media only screen and (max-width: 1380px) {

    #min{
        display: block;
    }
      #sup{
        display: none;
    }
    #phone{
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    #footer-2 .column_1 .logo img{
        width: 35%;
    }

}
@media only screen and (min-width: 1380px) {

    #min{
        display: none;
    }
      #sup{
        display: block;
    }
     #phone{
        display: none;
    }
}
@media only screen and (max-width:767px) {
   #phone{
        display: block;
    }
       #min{
        display: none;
    }
      #sup{
        display: none;
    }
}



@media only screen and (max-width: 992px) {
    #footer-2 .column_1{
        width: 100% !important;
    }
    .footer-column .column-2{
        width: 100% !important;
    }
    #footer-2 .column_4{
        width: 100% !important;
    }
    #footer-2 .column_1 .logo img{
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;
    }
    #footer-2 .column_1 .logo {
        width: 70%;
        padding-bottom: 75px;
    }

}
@media only screen and (max-width: 767px) {
    #header2 .navbar-default .navbar-nav > li > a, .drop-down.d-7 li a{
        padding: 12px 30px;
        text-align: left;
    }
    .justics-holder .img{
        height: auto;
    }
    .justics-text .txt h1{

    }
    .carousel-inner .item{
        height: auto;
    }
    .page-section.block {
        padding-top: 0;
    }
    .col-md-4.col-sm-6.wow.fadeInLeft.AfriqueSup-item.animated {
        float: left;
        width: 100%;
    }
    .top-bar4 .logo img{
        width: 218px;
    }
    .welcome-img img{
        margin: 0;
    }
    .welcome-img > br{
        display: none;
    }
    .justics-holder .img {
    height: 320px;
}
.insaban{
  height: 230px!important;
}
}

@media only screen and (max-width: 500px) {
    .justics-holder .justics-text .txt h1{
        font-size: 12px;
    }
    .justics-holder .justics-text{
        top: -56px;

    }
    .justics-holder .justics-text .txt .more{
        padding: 3px 20px;
    }
    .justics-holder .carousel-control.right.next-2{

    }
    #footer-2 .column_1 .logo {
        width: 100%;
        padding-bottom: 75px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .justics-holder .imgsld{
  /*height: 530px;*/
}
}
