body{
    font-family: "avenir";
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}

img {
    max-width: 100%;
    height: auto;
}
.centered{
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
strong{
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
h2{
    font-size: 25px;
    font-family:"avenir-black";
    text-transform: uppercase;
}
p{
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 10px;
}

.btn {
    padding: 7px 25px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
.right-aligned{
    text-align: right;
}