@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    transform: $transforms;
}
.nav-top{
  padding: 15px 0px;
  &__logo {
    display: inline-block;
    width: 34%;
  }
  &__links{
    text-align: right;
    width: 65.5%;
    display: inline-block;
    &--search{
      img{
        position: relative;
        top: -1px;
        padding-right:10px;
      }
    }
    & > ul{
      li{
        display:inline-block;
        &:last-child{ 
          img{
            position: relative;
            top: -3px;
            padding-right: 10px;
          }
          a{
            border-right:0px;
            padding-right:0px;
          }
        }
        a{
          color: black;
          font-size: 12px;
          padding: 0px 10px;
          border-right: 1px solid black;
        }
      }
    }
  }
}

.nav-bottom{
  background: #ffb623;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  padding:8px 0px;
  & .container > ul{
    display: table;
    width: 100%;
    & > li{
      display: table-cell;
      & > a{
        color: black;
        text-transform: uppercase;
        font-size: 15px;
        font-family: "avenir";
        display: inline-block;
        padding: 5px;
        padding-bottom: 0px;
        border-bottom:1px solid #ffb623;
        transition: 0.2s;
        &.nav-btn{
          padding-bottom: 5px;
        }
        &:hover{
          border-bottom:1px solid black;
        }
      }
      &:last-child{
        text-align: right;
        a{
          border-bottom:1px solid black;
        }
      }
      &:first-child a{
        padding-left:0px;
      }
    }
  }
}

.nav-btn{
  border:1px solid black;
  border-radius:2px;
  font-weight: bold;
}

.nav-dropdown {
    display:none;
    position: absolute;
    background: #ffb623;
    min-width: 150px;
    padding: 15px 0px;
    left: -5px;
    z-index: 2;
    li{
      padding: 5px 20px;
      a{
        text-transform:capitalize;
        color: black;
        display: inline-block;
        border-bottom:1px solid #ffb623;
        transition: 0.2s;
        &:hover{
          border-bottom:1px solid black;
        }
      }
    }
}

.has-dropdown {
    position: relative;
    &:after{
      content: "";
      display:inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #2f2f2f;
        @include transform(rotate(180deg));
      transition: 0.2s;
      position: relative;
      top: -2px;
    }
    &:hover{
      &:after{
        @include transform(rotate(0deg));
      }
    }
}

.nav-search{
  width:0px;
  padding: 0px;
  opacity:0;
  border:none;
  outline: 1px solid white;
  padding: 2px 0px;
  transition: 0.3s;
  &-submit{
    width: 0px;
    padding:0px;
    border: none;
    background: #ffb623;
    opacity:0;
    cursor: pointer;
    padding: 2px 0px;
  }
}
.nav-top__links--search{
  &.active{
    input{
      padding: 2px 5px;
      opacity:1;
      outline: 1px solid black;
      display:inline-block;
      &[type=text]{
        width: 150px;
      }
      &[type=submit]{
        width: 54px;
        border: none;
        background: #ffb623;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
}

.nav-scrolled{
    position: fixed;
    top: -100px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    &.active{
      display: block;
      position: fixed;
      top: 0px;
      z-index: 9;
    }
  img{
    max-height: 25px;
  }
  .nav-btn{
    background: black;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3px;
  }
}