.workout-tips{
    h2{
        margin-bottom:25px;
    }
}

.workout-tip{
    p{
        padding-bottom:0px;
    }
    a{
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    span {
        width: 100%;
        background: #58595b;
        color: white;
        display: block;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px 0px;
        margin-bottom: 15px;
    }
}