/*body{
position: relative;	

}
.banner img{
position: absolute;
top: 0;
width: 100%;
}
.nav{
float: right;
right: 0;
width: 100%;
background-color: #000;
position: absolute;
z-index: 999999;
position: fixed;
}
.nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
float: right;
margin-top: 50px;
}

li {
float: left;
}

li a {
display: block;
color: #d1d1d1;
text-align: center;
padding: 30px 30px;
text-decoration: none;
font-family: 'Saira Semi Condensed', sans-serif;
font-size: 18px;
}

li a:hover {
background-color: #212121 ! important;
border-bottom: 2px solid #fff ! important;
margin-bottom: 5px ! important;
}*/
.navbar.navbar-inverse{
position: absolute;
width: 100%;
z-index: 999999;
position: fixed;	
}
.logo{
position: absolute;
left: 60px;
width: 270px;	
}
.container-fluid{
float: right;	
}
.navbar-inverse{
background-color: #000;	
}
.nav.navbar-nav li a {
display: block;
color: #d1d1d1;
text-align: center;
/*padding: 30px ;*/
text-decoration: none;
font-family: 'Saira Semi Condensed', sans-serif;
font-size: 18px;
}
.navbar-nav{
margin-top: 54px;
margin-right: 17px;
}
.nav.navbar-nav li a:hover {
border-bottom: 3px solid #02a2a5 ! important;
margin-bottom: 0px ! important;
}

.nav.navbar-nav.top{
float: right;
margin-top: 14px;
margin-right: 26px;
}
.nav.navbar-nav.top li a {
display: block;
color: #d1d1d1;
text-align: center;
padding: 7px ;
text-decoration: none;
font-family: 'Saira Semi Condensed', sans-serif;
font-size: 14px;
}
.slider{
width: 100%;	
}
.navbar{
margin-bottom: 0px !important;	
}
.bx-wrapper {
border: 0px solid #000;
}

.bx-wrapper .bx-next{
right: 100px;
background: url('../img/controls.png') no-repeat !important;
height: 50px !important;
width: 50px !important;
}	
.bx-wrapper .bx-prev{
background: url('../img/controls2.png') no-repeat !important;
height: 50px !important;
width: 50px !important;
left: 100px;	
}
.bx-pager.bx-default-pager{
top: 90%;
}
.bx-wrapper .bx-pager.bx-default-pager a{
background: #00b3b8;
width: 15px;
height: 15px;
border-radius: 20px;	
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
background: #000;	
}
.title{
font-size: 55px;
font-family: 'Saira Semi Condensed', sans-serif;
color: #000;
text-align: center;
/*border-bottom: 6px solid #00B4BC;*/
Line-height: 60pt;
}
.title:after{
    height: 4px;
    display: block;
    width: 100px;
    background: #00B4BC;
    border-right: 1px white;
    content: '';
    margin: auto;
}
.icones{
width: 100%;
max-width: 1200px;
margin: auto;
/*margin-right: 100px;*/
}
.icon-text p{
color: #e0dede;
font-family: 'Ubuntu', sans-serif;
font-size: 13px;
line-height: 33.33%;
text-align: center;
margin-top: -30px;
line-height: 1.9;
padding: 50px 34px 10px 50px;
}
.ico{
float: left;
width: 33.33%;
margin-top: 36px;
}