
.justics-holder .carousel-control.left.prev-2:hover,
.justics-holder .carousel-control.right.next-2:hover{
	background: none !important;
}

.banner-1 .banner-holder .baner-caption .work.more,
.best-things .more,
.get-form button,
#footer-3 .read,
.team .submit:hover{
	color: #fff !important;
	background: #208D86 !important;
	border-color: #208D86 !important;
}
.banner-1 .banner-holder .baner-caption .work.more:hover,
.best-things .more:hover,
.get-form button:hover,
#footer-3 .read:hover{
	background: #fff !important;
	color: #208D86 !important;
}
.text-holder .add:hover,
nav .navbar-nav > li.mega .mega-menu ul li a,
nav .navbar-nav > li.mega .mega-menu strong,
.justics-holder .carousel-control.left.prev-2:hover i,
.justics-holder .carousel-control.right.next-2:hover i{
	color: #fff !important;
}
.our-clients.black .item blockquote .block-img::after,
.w-choose .w-column .img-box::after,
#quote-carousel .carousel-indicators li:after{
	border-color: #208D86 transparent transparent transparent !important;
}

.team .submit{
	color: #208D86 !important;
}

.top-bar4 .login-list li a i,
#header2 .navbar-default .navbar-nav > .active > a,
#header2 .navbar-default .navbar-nav > .active > a:focus,
#header2 .navbar-default .navbar-nav > .active > a:hover,
#header2 .navbar-default .navbar-nav > li > a:hover,
.left_block .tel a,
.left_block .tel em,
.p_courses a,
.l-events .l-column .date,
.latest-news.yellow .admin-list li a i,
.latest-news.yellow .news-text .more:hover,
.form-section .fill-row em i,
.footer-social li a:hover i,
.right_block .c_form .degree-holder i,
.right_block .c_form .category-holder i,
.right_block .c_form .subject-holder i,
.right_block .c_form .name-holder i,
.our-clients.black .item blockquote i,
#footer-2 .column_2 .post_list li i,
#footer-2 .column_3 .address i,
#footer-2 .column_3 .tel i,
#footer-2 .column_3 .mail i,
.latest-news.yellow .news-text .more:hover i,
span.input-group-addon i,
.close.yellow,
.breadcrumb > li,
.p_column .fee-holder span em,
.p_column .fee-holder .join,
.choose-us2 i,
.left-bar .c-list li a:hover i,
.left-bar .c-list li a:hover span,
.left-bar .c-list li a:hover em,
.owl-carousel3 .prise-holder em,
.owl-carousel3 .prise-holder em.old,
.contact-us .contact-form .holder span em,
.counter .img-holder i,
.services-tab .nav-tabs > li > a i,
.tab_2.second i,
.gallery-carousel .blockquote:after,
.gallery-carousel .blockquote:before,
.carousel-text .name,
.welcome .column:hover a,
.welcome .column a:hover,
.appointment span,
.field-column:hover a,
.latest-news.post .admin-list li a i,
.latest-news.post .news-text .more:hover,
.latest-news .news-text .more:hover i,
.latest-news .news-text .more:hover,
.flat-banner .flat-caption .heading,
.owl-carousel2 .prise-holder em,
.tab-area .nav > li > a:focus, .tab-area .nav > li > a:hover,
.deal .prise,.s-carousel span,
.fill-form form .btn-holder span em,
#footer-5 .footer-list li a:hover,
.top-bar .top-left .location2 i,
.special .social-icons li a,
.value .left .tel a:hover,
#footer-3 .heading,
#footer-3 .address i{
	color: #208D86 !important;
}
.drop-down.d-7 li a:hover,
.drop-down.d-7 li.active a,
.drop-down.d-3 li a:hover,
.drop-down.d-3 li.active a,
.drop-down.d-5 li a:hover,
.drop-down.d-5 li.active a,
#nav2 .navbar-default .navbar-nav > li > a:hover,
#nav2 .navbar-default .navbar-nav > li.active > a,
#nav2 .navbar-default .navbar-nav > li > a:focus,
#nav2 .navbar-default .navbar-nav > li:hover > a{
	background: #fff !important;
	color: #208D86 !important;
}

#header2.header4 .tel,
.drop-down.d-7,
.w-list li .one, .w-list li .two,
.p_courses .c_column:hover .img-box,
.gallery .control-box .carousel-control.left:hover,
.gallery .control-box .carousel-control.right:hover,
.l-events .control-box .carousel-control.left:hover,
.l-events .control-box .carousel-control.right:hover,
.latest-news.yellow .img-holder .date,
.welcome .column .img-holder,
.main-center.yellow,
.latest-news .img-holder::after,
.p_column .image-box .img-box,
.p_column .image-box::after,
.field-column .img-holder,
.clients .right-client .box_1:after,
.clients .right-client .box_2:after,
.our-services .s-column .img-holder,
.left-bar .heading::after,
.owl-carousel3 .add:hover,
.panel-heading.yellow > .panel-title > a,
.gallery-carousel .carousel-control.left:hover,
.gallery-carousel .carousel-control.right:hover,
.gallery-carousel .carousel-indicators .active,
.testimonial .carousel-indicators .active,
#header2 .logo a,
.advise,
.drop-down.d-6, .mega-menu.d-6,
.welcome .column .img-holder2,
.appointment-form button,
.field-column.brown .img-holder,
.trusted-column .t-social li a:hover,
.trusted .trusted-carousel .carousel-control.left:hover,
.trusted .trusted-carousel .carousel-control.right:hover,
.latest-news.post .img-holder .date,
.drop-down li a:hover,
.carousel-control.left:hover,
.carousel-control.right:hover,
.latest-news .img-holder .date,
.plan .nav-tabs > li.active > a,
.plan .nav-tabs > li.active > a:focus,
.plan .nav-tabs > li.active > a:hover,
.plan .nav-tabs > li > a:hover,
#footer .top,
.info-holder ul li .img,
.choose-us .three-columns .img-box,
#nav2,.subscribe .s-form button,
.drop-down.d-3,
.drop-down.d-5, .mega-menu.d-5,
.smile,
.value,
.view-more a:hover,
.our-clients.black .carousel-indicators .active,.p-holder .progress-bar,
.owl-carousel2 .sale.hot,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-header,
.owl-carousel3 .sale.hot{
	background: #208D86 !important;
}
#header2.header4 .tel::after{
	border-color: transparent transparent #208D86  transparent !important;
}

.justics-text .txt .more.courses,
.welcome-d .more,
.left_block .left-list li .img-holder:hover,
.p_courses .r-form button,
.right_block .c_form button,
.latest-news.yellow .view,
.form-section .fill-row button,
#footer-2 .touch-form button,
#footer-2 .column_4 button,
.comments button,
.contact-us .contact-form .holder button,
.justics-text .txt .more,
.latest-news .view,
#footer button,
.fill-form form .btn-holder button{
    background: #208D86 !important;
    border: 2px solid #208D86 !important;
}

.hire.make:hover{color: #fff !important;}

.justics-text .txt .more.courses:hover,
.welcome-d .more:hover,
.p_courses .r-form button:hover,
.right_block .c_form button:hover,
.latest-news.yellow .view:hover,
.form-section .fill-row button:hover,
#footer-2 .touch-form button:hover,
#footer-2 .column_4 button:hover,
.comments button:hover,
.contact-us .contact-form .holder button:hover,
.justics-text .txt .more:hover,
.latest-news .view:hover,
#footer button:hover,
.fill-form form .btn-holder button:hover{
    background: #fff !important;
    color: #208D86 !important;
}


.welcome .column:hover a, .welcome .column a:hover,
.justics-holder .carousel-control.left.prev-2:hover i,
.justics-holder .carousel-control.right.next-2:hover i,
.our-faculaties .text-box em,
.our-faculaties .f-list li a:hover i,
.our-clients.black blockquote small strong,
.item blockquote p::before,
.team .team-text ul li a:hover,
.clients .client-box i,
.wedget .post-list li .post-text .date,
.p_column .p-list li span,
.latest-news.inner .tags a,
.media-holder .media-text .date,
.wedget .archive-list li a:hover,
.prise-table .p-table td.col-5,
.total-holder .right a,
.total-holder .total span,
.sub-total.order .right em,
.checkout-holder .customer,
.update-box .holder_1 .date,
.update-box .register-holder .event-fee em,
.field-column:hover a,
.clients .right-client .box_1 i,
.clients .right-client .box_2 i,
.services .services-column strong span,
.services .services-column .more:hover,
.top-seller .seller-list li .seller-text .prise,
.tool-tip p a,
.special .s-holder em,
.right-panel .tel i,
.right-panel .mail i,
.drop-down.d-6 li a:hover,
.mega-menu.d-6 li a:hover,
.drop-down.d-6 li.active a,
.trusted .trusted-carousel .right-block em,
.trusted .trusted-carousel .right-block .tel i,
.trusted .trusted-carousel .right-block .mail i,
.trusted-column .t-social li a,
.footer-column .column-3 .post_list li i,
.footer-column .column-1 i,
#footer .heading,
.top-bar .top-left .tel i,
.top-bar .top-left .mail i,
.top-right .hire,
.top-bar .top-right .social-icons ul li a:hover,
#nav .navbar-nav > li:hover > a,
#nav .navbar-nav > li.active > a,
.clients .right-client.add .box_1 i,
.clients .right-client.add .box_2 i,
.topbar-5 .top-list li a:hover,
.topbar-5 .top-list li a:focus,
.topbar-5 .right-list li a:hover,
.topbar-5 .right-list li a:focus{
	color: #208D86 !important;
}

.justics-holder .carousel-control.left.prev-2:hover,
.justics-holder .carousel-control.right.next-2:hover,
.our-faculaties .f-column:hover .text-box,
.our-faculaties .f-list li a:hover i,
.footer-social li a,
.about .about-holder .box .img::after,
#quote-carousel.yellow .carousel-indicators li.active,
.team .team-text,
.p-holder .progress,
.wedget .title,
.plan .nav-tabs,
.field-column:hover,
.owl-carousel3 .add:hover,
.top-bar2 .free, .free-2,
.top-right .hire,
.portfolio .nav-tabs > li.active > a,
.portfolio .nav-tabs > li.active > a:focus,
.portfolio .nav-tabs > li.active > a:hover,
.portfolio .nav-tabs > li:hover > a,
.team .submit,
.clients .right-client .box_1:hover,
.clients .right-client .box_2:hover,
.brands-list .s-box,
.brands-list .s-box.pink,
.our-clients.black .item blockquote .block-img,
.w-choose .w-column .img-box{
	border-color: #208D86 !important;	
}

.gallery .gallery-img .hover,
.portfolio .img-block .img-hover,
#footer .post-list li a::after{
	background: rgba(67,185,246,.7) !important;
}
.view-more a{
	border:2px solid #208D86 !important;
}

.view-more a:hover,
.our-clients.black .carousel-indicators .active,
.p-holder .progress-bar,
.form-holder .coupon-form button,
.three-columns .column:hover .pakage,
.choose-us .three-columns .img-box,
.top-bar2 .free:hover, .free-2:hover{
	background: #208D86 !important;
}

.our-clients.black .item blockquote .block-img,
#quote-carousel .carousel-indicators li.active,
#quote-carousel .carousel-indicators li.active{
	border:3px solid #208D86 !important;
}

.our-clients.black .item blockquote .block-img:after,
.choose-us .three-columns .img-box:after,
#quote-carousel .carousel-indicators li:after,
.our-clients.black .item blockquote .block-img::after{
	border-color: #208D86 transparent transparent transparent !important;
}



.counter img.yellow-1{
	display: none !important;
}
.counter img.blue-1{
	display: inline-block !important;
}

.w-choose .w-column .img-box,
.three-columns .column:hover{
	border-color: #208D86 !important;
}
.w-choose .w-column .img-box::after{
	border-color: #208D86 transparent transparent transparent !important;
}

#quote-carousel.yellow .carousel-indicators li::after,
#quote-carousel .carousel-indicators li::after{
	border-color: #208D86 transparent transparent transparent !important;

}

.team .submit,
.sign-list li a i{
	color: #208D86 !important;
	border-color: #208D86 !important;
}
.team .submit:hover,
.plan .nav-tabs > li.active > a,
.plan .nav-tabs > li.active > a:focus,
.plan .nav-tabs > li.active > a:hover,
.plan .nav-tabs > li > a:hover,
.sign-list.yellow li a:hover i,
.trusted-column .t-social li a:hover,
.top-right .hire:hover,
.owl-carousel3 .add:hover{
	color: #fff !important;
	background: #208D86 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.form-holder .btn-holder a,
.owl-carousel2 .add:hover{
	color: #fff !important;
	background: #208D86 !important;
}

.media-holder .media-text .date-holder a:hover,
.total-form button:hover,
.contactus-form button:hover{
	color: #208D86 !important;
	border-color: #208D86 !important;
	background: #fff!important;
}

.total-form button,
.contactus-form button,
.three-columns .column:hover .signup{
	color: #fff !important;
	background: #208D86 !important;
	border-color: #208D86 !important;
}
.num-holder span:hover, .num-holder span:focus{
	background: #208D86 !important;
	color: #fff !important;
	border-color: #208D86 !important;
}

.location .location-holder .address:after,
.location .location-holder .tel:after,
.location .location-holder .email:after{
	border-radius: 50%;
	box-shadow: 0 0 0 3px #208D86 inset !important;
}

.three-columns .column:hover .pakage:before{
	background: url(../images/icon-219.png) !important;
}
.three-columns .column:hover .pakage:after{
	background: url(../images/icon-218.png) !important;
}

.our-services .s-column:hover .img-holder{
	box-shadow: 0 0 0 1px #208D86 !important;
}
.choose-us2 .img-box{
	box-shadow: 0 0 0 2px #208D86 inset !important;	
}

#header2 .logo::after{
	border-color: transparent transparent #208D86 transparent !important;
}


.top-right .hire:hover{ color: #fff; }

nav .navbar-nav > li.mega .mega-menu{
	background: #208D86 !important;
}



