
#owl-galerie .owl-item img{
  height: 189px;
      width: 100%;
}
#owl-event  .owl-item img{
  height: 250px;
      width: 100%;
}
.i4ewOd-pzNkMb-haAclf{
  display: none !important;
  position: static;
}


.no-padding-left{
	padding-left: 0
}
.no-padding-right{
	padding-right: 0
}
.p_courses .c_column:hover p{
	color: #777;
}
.p_courses .c_column:hover .title{
	color: #222;
}
.welcome{
	padding: 0 0;
}
.welcome-d {
    overflow: hidden;
    padding: 30px 0 0;
}
.drop-down.d-7 li a { 
    color: #fff!important;
}

.tool-tip img{

/*	float: left;
*/    padding-right: 10px;
}
.field-column a{

	font-size: 14px;
	font-family: 'Oxygen', sans-serif;
    color: #777 !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.services .field-column{
	    padding: 0 40px 0;
	    min-height: 225px
}
.footer-logo-right{
	float: left;
}
.footer-logo-right2 > a >img{
	    height: 98px;
    width: 296px !important;
}
.footer-logo-right1{
	padding-right: 20px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.col-md-4.col-sm-6.wow.fadeInLeft.AfriqueSup-item.animated{
    min-height: 215px;
}

.contact-us{

    padding: 0px 0 10px;
}

.contact-us h1{
	color: #222;
}
.team_2{
	    padding: 20px 0;
}

.services-tab{
	float: none;
    margin: 0 auto;
}

#owl-demo .item img{
	    max-height: 170px;
    }

.cetraleslide .item img{
        max-height: 230px!important;
    }

    .services-tab .tab-content:after{
    	background: transparent !important;
    }

.tool-tip p{
	/*float: left;*/
}

.welcome-img img {
    margin: 86px 0 56px 26px;
}
.footer-column .column-2{
    width: 19%;
}

.update-holder .img-event{
   height: 260px !important;
}
.colfooter{
     margin: 0px;
}

@media only screen and (max-width: 991px)
{
    #header2.header4 .tel {
        min-width: 190px!important;

    }
    #header2.header4 .tel::after {
      border-width: 0 0 63px 32px;
  }
}


@media only screen and (max-width: 767px)
{
  .carousel-inner .item{
  height: 0px;
}
    .banner-2 .breadcrumb {
            margin: 20px 0px -11px;
    }

     #header2.header4 .tel::after {
        border-width: 0 0 74px 32px;
    }

    .services-tab .tab-area .nav-tabs > li > a {
        font-size: 9px;
    }

    .services-tab .tab-area .nav-tabs > li {
    margin: 0 6px 0 0;
    width: 100px;
  }

  .tool-tip p {
    margin-left: 14px;
}
}
.welcome-d {
    padding: 30px 20px 0;
}

#id{

  height: 100%
}

.welcome i{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.contact-us.yellow h1 img{
      margin-bottom: 22px;
}
.welcome .quisomme{
      display: block;
    margin: 0 35%;
}
.p_courses .princip{
   margin-top: -10px;
}
.welcome.yellow{
      padding-bottom: 40px;
}

.justics-holder .imgsld{
  /*height: 530px*/
}

.carousel-inner .item{
  height: 500px;
}

.page-section.block{
  padding-top: 50px;
}
.justics-holder{
  top: 0
}

.blockimg{
  margin: auto;
  display: block;
}
.page-section.block p{
   text-align: center;
   margin-top: 15px;
}


/****************************************************************************************************************************************************/
#header2.header4 .env a{
    font-size: 14px;
    text-align: center;
}
#header2.header4 .env{
    text-align: center;
}
.mot-africasup.special .s-holder{
    width: 520px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}
#footer-2 .column_4 img{
    width: 140px;
}
.mot-africasup.special {
    padding: 54px 0px 0 0;

}
.welcome .small-title{
    font-family:  'Oxygen', sans-serif;
    text-transform: none;
    font-weight: 300;
}

.mot-africasup.special .carousel-inner .item{
    max-width: 690px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 64px;
}
.banner-2.yellow .banner-text h3{
  clear: both;
}
.banner-2.yellow .banner-text  .breadcrumb {
      margin: -34px 0 0;
}

@media (max-width: 1200px) {
    .mot-africasup.special .s-holder{
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;
    }
}

.page-section .contact-us .row span.cinfo{
    display: block;
    color: #333 !important;
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin: 0 0 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.page-section .contact-us .row span.cinfo a{

    color: #333 !important;

}

.page-section .contact-us .ginfo{
    padding: 62px;
}
.page-section .contact-us .titleinfo{
    color: #222;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.page-section .contact-us .contactb{
      padding: 88px 40px 30px !important;
      border: none!important;
}

.page-section .contact-us .row span.cinfo .fa{
    font-size: 20px;
    color: #208D86;

}


.contact-us2{
       padding: 40px 0 10px;
}

.page-section.short2 {
    overflow: hidden;
    padding: 0
}

.tab_2 .nav-tabs{
  width: 200px
}

.services-tab .nav-tabs > li.active > a{
  width: 100%!important
}

.services-tab .nav-tabs > li > a{
  width: 100%!important
}


p.frais{
      margin: 0 auto!important;
    display: block;
    width: 50%;
}

.frais strong{

    margin: 4px;
}

p.desc{
      margin: 10px 0 100px;
    font-size: 14px;
    color: #777;
    position: relative;
    text-align: left;

    padding: 1px 30px 40px 80px;
}

.tool-tip img{
  padding-right: 0px;
  width: 520px;
  margin: 20px;
  margin-top: 0px;
}

.list-item-1 li{
  float: left;
  color: #000;
      font-size: 13px;
    line-height: 26px;
}
.services .services-column p{
    float: left;
}


.services .services-column strong{
      margin: 0 auto;
    width: 60%;
}

section.short3{
      padding-bottom: 0px!important;
}

.services .services-column{
  margin-bottom: 16px
}
.top-bar4 .logo img{
   width: 306px;
    position: absolute;
    left: -88px;
}
.top-bar4{
    margin-bottom: 10px;
}
    /* Start Scrollup */

#scroll-top {
    width:50px;
    height:40px;
    color:#208D86 ;
    background-color:#272727;
    text-align:center;
    position:fixed;
    right:15px;
    bottom:10px;
    z-index:9999;
    display:none;
    cursor:pointer
}
.breadcrumb{
    background: transparent;
    float: right;
    margin-bottom: 0;
}
.central-casa  .nav-tabs>li{
    width: 100%;
}
.central-casa .justics-text{
    position: relative;
    float: left;
}
.central-casa .tool-tip p{
    text-align: justify;
}

.central-casa .tool-tip ul{
    color: black;
}
.banner-2 .banner-text{
    padding: 19px 30px 40px 30px;
}
#footer-2 .column_1{
    width: 35%;
    padding-right: 30px;
}

#scroll-top:hover {background-color:#444}
.services .services-column{
    width: 100%;
}
/* End Scrollup */



.banner-2 h1{
    padding: 17px 0 16px 0;
    margin: 0;
    float: left;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.banner-2 h1:after{
    content: none;
}
.custom-title{
    color: #222;
    position: relative;
    font-size: 25px;
    display: block;
    font-weight: 500;

    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.custom-title.custom-title-vert{
    color: #208D86;
    font-size: 15px!important;
        line-height: 36px!important;
}
.custom-title.custom-title-vert span{
    color: #222;
    font-family: sans-serif;
/*    font-size: 16px;
*/    text-transform: none;
}
.logo-etab{
    float: left;
    padding: 0 16px 3px 0;
}
.logo-etab img{
    width: 132px;
    height: 120px;
}
.services-alumni .services-column strong{
    width: 100%;
    padding-bottom: 20px;
    color: #208D86;
    font-weight: 500;

}
.services-alumni .rowser + .rowser{
    padding-top: 50px;
    float: left;
}
.page-section.short {
    padding: 45px 0;
}
.list-item-1 li{
    font-size: 15px;
}
.services .services-column{
    color: #000;
    font-size: 15px;

}
.france-alumni-maroc-plus{
    position: relative;
    clear: both;
}
.services-alumni .services-column p{
    float: left;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b1b0b0 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #b1b0b0 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #b1b0b0 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #b1b0b0 !important;
}
#footer-2 .column_1 .logo{
    width: 400px;
}

#footer-2{
    position: relative;
}
#footer-2 .column_1 .logo img{
    width: 400px;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.p_courses .c_column{
    background: transparent;
}
#social-media-etab{
    list-style-type: none;
    padding: 0;

}
#social-media-etab li{
    display: inline-block;
    margin-right: 10px;
}
#social-media-etab li i{
    font-size: 20px;
    color: #208D86;
}
.p_courses{
    padding: 50px 15px;
       padding-bottom: 0px;
}
.tab_2 .nav-tabs{
    width: 100% !important;
}
.central-casa .nav-tabs>li {
    width: 190px;
    float: left;
    margin-bottom: -2px;
}


.logotitle{
    font-family: 'cfont';
    float: right;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
}
.central-casa .linktab1{
    float: none!important;
    width: 170px;
}



.nav-tabs>li.tablink>a:hover{
    background-color: transparent;
    border-color: transparent;
}

.nav>li>a:focus{
    background-color: transparent
}

.alucl{
    margin: 0 0 6px;
}

.logomap img{


}
.top-bar4{
    height: 94px
}

.top-bar4 .container{
    position: relative;
}

.logomobile{
        display: none;
    }

@media (min-width: 1200px) and (max-width: 1400px){

    #header2.header4.header-yellow {
    max-width: 960px;
}
.top-bar4 .logo img{
    left: 34px;
}
}
#owl-demo .item img{
        height: 400px;
}

@media (max-width: 1200px){
    .logomobile{
        display: block;
        width: 221px;
    float: left;
    }
    .logo{
        display: none;
    }
    #header2.header4.header-yellow {
    clear: both;


}

}

.formationinfo ul span{
     padding-left: 0;
}


.formationinfo ul li{
     padding-left: 10px;
}

.heading-short.alumtext{
    margin-top: 10px!important;
}

.alumtext p {
    margin-left: 22px
}

.objtitle{
    color: #208D86;
}

p{
    margin:0 0 0;
}

.alumtext{
    padding-top: 10px
}

.morealu{
    border: 2px solid #208D86;
        padding: 7px
}


.recon img{
    height: 60px;
        border: solid 1px #ccc;
}

.services-tab .tab-content p{
    text-align: justify;
}


.spacep{
    margin-top: 14px!important;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 1px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
  margin-right: 10px;
  font-weight: 700;
}


ul.rounded {
   list-style: none;
       margin-left: -30px;
}
ul.rounded > li {
  text-indent: 1px;}

ul.rounded li:before {
   content: "•";
   font-size: 150%; /* or whatever */
  text-indent: -5px;
  margin-right: 10px;
}


.more{
    display:inline-block;
    font-size:13px;
    color:#222;
    font-weight:bold;
    text-transform:uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.more:hover{
    color:#3d60d0;
}

.special .s-holder{
  right: -108px
}



.special .s-holder{


      top: 60%!important;
   
}

.justics-holder .carousel-control.left.prev-2{
  border-color: #208D86;
}


.justics-holder .carousel-control.left.prev-2 i, .justics-holder .carousel-control.right.next-2 i{
  color: #208D86;
}


.justics-holder .carousel-control.right.next-2{
  border-color: #208D86;
}

.imagees{
  margin-top: -43px!important;
}

@media (max-width: 500px){
.footer-logo-right1{
	    margin-bottom: 48px;
}
}


.myvideo{
  height: 500px;
}