.featured-blog{
    padding: 40px 0px 80px;
    h2{
        font-size: 24px;
        font-family:"akzidenz-bold";
        text-align:center;
        padding-bottom: 40px;
    }
    &-image{
        img{
            max-width: 100%;
        }
    }
}
.featured-blog-details{
    font-size: 16px;
    font-family:"akzidenz";
    a.featured-blog-continue{
        font-size: 14px;
        color: #2d2d2d;
        font-family:"akzidenz-bold";
        text-decoration: underline;
        margin-top: 10px;
        display: block;
    }
}
.featured-blog-title{
    color: #007cbb;
    font-size: 22px;
    font-family:"akzidenz-bold";
    line-height: 1.2;
    display:block;
    margin-bottom: 10px;
}
.featured-blog-date{
    color: #474849;
    font-size: 14px;
    margin-bottom: 10px;
    &-pipe{
        padding: 0px 4px;
    }
    a{
        color: #474849 !important;
        font-family: "akzidenz"!important;
        font-size: 14px!important;
    }
}
.featured-blog-details-list{
    text-align:center;
    p{
        font-size: 20px;
        font-family:"akzidenz-bold";
        text-align:left;
        &.blog-main-recent-title{
            font-size: 16px;
        }
    }
    ul{
        border-bottom: 1px solid #ed3124;
        border-top: 1px solid #ed3124;
        padding: 5px 0px;
        li{
            text-align:left;
            padding: 15px 0px;
                border-top:1px dashed #ed3124;
                border-bottom:1px dashed #ed3124;
                &:first-child{
                    border-top: 0px;
                }
                &:last-child{
                    border-bottom: 0px;
                }
            a{
                text-align:left;
                color: #007cbb;
                font-family:"akzidenz-bold";
                font-size: 16px;
            }
        }
    }
    .featured-blog-date{
        margin-bottom: 0;
    }
}
.featured-blog-main-link{
    padding: 5px 15px;
    color: #ed3124;
    font-family: "akzidenz-bold";
    font-size: 15px;
    border-bottom: 1px solid #ed3124;
    border-left: 1px solid #ed3124;
    border-right: 1px solid #ed3124;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 767px){

    .featured-blog {
        padding: 10px 0px 80px;
        h2{
            padding-bottom: 30px;
        }
    }
    .featured-blog-image img {
        margin-bottom: 15px;
    }
    .featured-blog-details a.featured-blog-continue {
        margin-bottom: 25px;
    }

}