@font-face {
    font-family: "avenir";
    src: url(../fonts/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: "avenir-light";
    src: url(../fonts/AvenirLTStd-Light.otf);
}
@font-face {
    font-family: "avenir-book";
    src: url(../fonts/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: "avenir-bold";
    src: url(../fonts/AvenirLTStd-Heavy.otf);
}
@font-face {
    font-family: "avenir-black";
    src: url(../fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "bauhaus";
    src: url(../fonts/Bauhaus-Std-Medium.otf);
}
@font-face {
    font-family: "bauhaus-bold";
    src: url(../fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "bauhaus-demi";
    src: url(../fonts/Bauhaus-Std-Demi_6295.ttf);
}
@font-face {
    font-family: "bauhaus-light";
    src: url(../fonts/Bauhaus-Std-Light_6297.ttf);
}
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
