.footer{
    background: #58595b;
    &__location-finder{
        border-bottom: 4px solid #ffb623;
        -webkit-box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.6), 0 5px 10px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.6), 0 5px 10px 0 rgba(0, 0, 0, 0.4);
        text-align: center;
        background: black;
        color: white;
        padding: 10px 0px;
        font-size: 20px;
        input{
            padding: 5px;
            font-size: 16px;
            &[type=text]{
                min-width: 230px;
                margin-left: 40px;
            }
            &[type=submit]{
                background: #ffb623;
                font-weight: bold;
                border-radius: 2px;
                margin-left: 5px;
                padding: 5px 15px;
            }
        }
    }
    &__top-links{
        margin-bottom:20px;
        text-transform: uppercase;
        text-align: center;
        li{
            padding: 0px 0px 0px 20px;
            display: inline-block;
            &:after{
                display: inline-block;
                content: "";
                height: 10px;
                width: 1px;
                background: white;
                margin-left: 20px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                color: white;
                font-size: 13px;
            }
        }
    }
    &__bottom-links{
        text-transform: uppercase;
        text-align: center;
        li{
            padding: 0px 0px 0px 20px;
            display: inline-block;
            &:after{
                display: inline-block;
                content: "";
                height: 10px;
                width: 1px;
                background: white;
                margin-left: 20px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                color: white;
                font-size: 13px;
            }
        }
    }
}

.footer-icons{
    color: #ffb623;
    font-weight: bold;
    border-bottom: 1px solid #4a4a4a;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    img{
        margin-right: 10px;
    }
}

.footer__extra{
    text-align: center;
    margin-top: 50px;
    padding-bottom:60px;
}
.footer__copyright{
    color: white;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}
.footer__social{
    color: white;
    display: inline-block;
    text-align: center;
    ul{
        li{
            display: inline-block;
            margin-right: 5px;
            a{

            }
        }
    }
}

.footer__location--bold{
    font-weight: bold;
}

