.hero{
    padding-top:75px;
    padding-bottom:90px;
    position: relative;
    &__right {
            max-width: calc(100% - 271px);
            display: inline-block;
            color: white;
            display:table-cell;
            h1{
                line-height: 1;
                font-size: 35px;
                font-family: "avenir-black";
                text-transform:uppercase;
                font-weight: bold;
            }
            p{
                padding-top:5px;
                font-size: 18px;
            }
            &--wrapper{
                position: relative;
                top: 10px;
                padding: 30px;
                background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.4) 100%);
                background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.4) 100%);
                background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.4) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#efefef',GradientType=1 ); /* IE6-9 */
            }
        }
    &__left{
        display:table-cell;
        background: black;
        padding: 20px;
        padding-right: 30px;
        position:relative;
        &--price{
            color: white;
            font-size: 87px;
            line-height: 0.7;
            display: inline-block;
            font-family: "bauhaus-demi";
        }
        &--yellow{
            color: #ffb623;
            position: relative;
            top: -25px;
        }
        &--vertical{
            color: #ffb623;
            display:inline-block;
            text-transform:uppercase;
            position: absolute;
            @include transform(rotate(-90deg));
        }
        sup {
            vertical-align: 44px;
            font-size: 14px;
        }
        &--annual{
            position: relative;
            sup {
                font-size: 30px;
                vertical-align: 40px;
            }
            margin-bottom: 10px;
            .hero__left--vertical{
                bottom: 26px;
                right: -32px;
            }
        }
        &--monthly{
            position: relative;
            .hero__left--vertical{
                bottom: 11px;
                right: -30px;
            }
        }
        &--hidden-fees{
            width: 80px;
            height: 80px;
            padding: 10px 10px;
            line-height: 1;
            background: #ffb623;
            font-family: "avenir-bold";
            text-align: center;
            border-radius: 50%;
            text-transform: uppercase;
            position: absolute;
            top: -45px;
            left: -45px;
            @include transform(rotate(-15deg));
        }
        .btn{
            background: #ffb623;
            width: calc(100% + 30px);
            margin: 0px -10px;
            color: black;
            text-align: center;
            margin-top: 10px;
            border-radius: 4px;
            font-family: "avenir-black";
            font-size: 20px;
        }
    }
    .hero-location-finder{
        border-top: 3px solid #ffb623;
        width: 100%;
        background: rgba(0,0,0,0.6);
        position:absolute;
        bottom:0;
        width: 100%;
        color: white;
        padding: 8px 0px;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
        &--list {
            background: #58595b;
            width: 300px;
            position: absolute;
            top: 67px;
            padding: 15px;
            overflow: hidden;
            z-index:3;
            display:none;
            border-bottom:3px solid #ffb623;
            > div{
                overflow: hidden;
                border: 1px solid black;
            }
            ul{
                width: 320px;
                padding: 10px 15px;
                max-height: 205px;
                overflow-y: scroll;
                width: 320px;
                li{
                    max-width: 280px;
                    padding: 5px 0px;
                    a{
                        border-bottom:none;
                    }
                }
            }
        }
        input[type="text"] {
            padding: 4px 10px;
            width: 220px;
            margin-left: 5px;
        }
        input[type="submit"] {
            text-transform: uppercase;
            padding: 3px 10px;
            border: 1px solid #ffb623;
            background: transparent;
            color: #ffb623;
            font-family: "avenir-black";
            margin-left: 5px;
        }
        &--dropdown{
            display: inline-block;
            position: absolute;
            margin-top: -23px;
            padding-top: 13px;
            height: 70px;
            background: #333132;
            border-top: 3px solid #ffb623;
            padding-right: 100px;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
            &.hero-location-finder--dropdown:before {
                width: 100vw;
                content: "";
                height: 70px;
                background: #333132;
                display: block;
                position: absolute;
                left: -100vw;
                border-top: 3px solid #ffb623;
                margin-top: -16px;
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
            }
            &.hero-location-finder--dropdown:after {
                width: 0px;
                height: 0px;
                border-top: 34px solid transparent;
                border-bottom: 33px solid transparent;
                border-left: 30px solid #333132;
                content: "";
                position: absolute;
                top: 0px;
                right: -30px;
            }
            a {
                border-bottom: 1px solid rgba(255,255,255,0.5);
                color: white;
                position: relative;
                cursor: pointer;
            }
            span.dropdown{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    cursor: pointer;
                    bottom: 15px;
                    border-bottom: 0px;
                &.active:after{
                    @include transform(rotate(0deg));
                }
                &:after {
                    margin-left:10px;
                    content: "";
                    display: inline-block;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid #fff;
                    @include transform(rotate(-180deg));
                    transition: 0.2s;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }
        &--search{
            display:inline-block;
            float: right;
        }
    }
}
