.membership-options-section{
    background: grey;
}

.membership-options-table{
    border: 1px solid black;
    width: 100%;
    border-collapse: separate;
    th {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px;
        &:last-child {
            border-right: 3px solid black;
            border-left: 3px solid black;
            border-top: 2px solid black;
        }
    }
    td{
        padding: 5px 15px;
        border-right:1px solid #bcbec0;
        text-align: center;
        &:first-child {
            width: 300px;
            text-align:left;
        }
        &:last-child{
            border-right: 3px solid black;
            border-left: 3px solid black;
        }
    }
    tr:nth-child(even) {
        background: #d0d1d1;
    }
    tr:nth-child(odd) {
        background: #ededee;
    }
    tr.table-heading {
        background: #bcbec0!important;
        border-bottom:1px solid black;
        td{
            text-transform:uppercase;
            font-family:"avenir-black";
            font-size: 16px;
            border-bottom: 1px solid black;
        }
    }
    &--compare{
        background: black;
        color: white;
        cursor: pointer;
        width: 300px;
        &.active:after{
            @include transform(rotate(0deg));
        }
        &:after {
            margin-left:10px;
            content: "";
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            @include transform(rotate(-180deg));
            transition: 0.2s;
            position: relative;
            top: -2px;
        }
    }
    &--econo{
        background: white;
        color: black;
    }
    &--platinum{
        background: #ffb623;
        color: black;
    }
    &--extra{
        background: #58595b;
        color: white;
    }
}