.testimonial{
    background: #dcddde;
    border-radius: 10px;
    padding: 30px 0px;
    max-width: 830px;
    img {
        max-width: 150px;
        border-radius: 50%;
        display: inline-block!important;
    }
    &__content{
        font-size: 25px;
    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom:1}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border: 2px solid #333132;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}
.owl-stage-outer {
    max-width: 830px;
    margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
    background: #58595b;
}
.owl-nav {
    position: absolute;
    width: 100%;
    top: calc(50% - 35px);
}
.owl-next {
    display: inline-block;
    float:right;
}
.owl-prev {
    display: inline-block;
}
.owl-dots{
    margin-top: 10px;
    text-align: center;
}