.yellow-bar{
    background: #ffb623;
    padding: 25px 0px;
    img{
        margin-right: 15px;
    }
    p{
        text-transform: uppercase;
        font-size: 20px;
        text-transform: uppercase;
        font-family: "avenir-black";
        color: black;
        display: inline-block;
        width: calc(100% - 150px);
        position: relative;
        top: 18px;
    }
}