
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1050px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }

.logo{height: 7%;margin-top: 20px;margin-bottom: 20px;margin-left: 46px;}

.col-sm-3.sidenav.hidden-xs{background-image: url(img/backgrounddashbord.png);}

.well.top{background-color: #2c546a;margin-top: -10px;}

#icon{font-size: 20px;color: #fff;float: right;margin: 10px 10px 10px 10px;}

.img-circle{display: block;margin: auto;margin-bottom: 10px;}

.icone-menu{}