body {
   background-image: url("img/background4.png");
   padding: 35px;
   background-repeat: no-repeat;

	}

html, body{font-family: 'Open Sans', sans-serif; sfont-weight: 400;}


.login-form{
    width: 456px;
    margin: auto;
    position: relative;

}
.login-form img{
	    position: absolute;
    top: -120px;
    right: 158px;
    width: 26%;
}

.login-form input[type=text] {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: #fff;
    color: orange;
    display: block;

        border: 1px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;


    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

input:focus {
    background-color: #bababa;
}

.login-form input[type=password] {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: #fff;
    color: orange;
    display: block;

        border: 1px solid #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;


    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.field-wrap{position: relative;


max-width: 100%;
margin: 0px auto;
border-radius: 4px;
 display:table;/* shrinks to fit conntent */
        margin:auto;
    width: 100%;

}

 
.button {
	width: 100%;
    background-color: #fff; /* Green */
    border: none;
    color: #777;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600px;
    display: inline-block;
    font-size: 18px;
    margin: 14px 0;
    cursor: pointer;
}
.button {border-radius: 12px;}


.button:hover {
    background-color: orange;
    color: white;
    transition: 0.5s;
}
.login-form{width: 22%;}


.login-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: orange;
  text-align: #777;
  font-family: 'Open Sans', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #777;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #777;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #777;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


    body, html {
    
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display:table;
    }
    body {
        display:table-cell;
        vertical-align:middle;
    }

footer h6{color: white;
        position: absolute;
    top: 900px;
    right: 583px;
    width: 26%;}
    /* --------------------------------------------------------------------------------------------------index-Menu-------------------------------------------------------------------------------------------- */

    body.backgroundmenu{
   					background-image: url("img/background2.png");
   					padding: 0px;
   					background-repeat: no-repeat;
   				}
   	.carte1{ 
   			width: 380px;
   			height: 200px;
   			float: right;
   			margin: 10px;

   			}
   	.imgp {	float: right;
   			padding: 5px 0px;
   			margin-top: 0px;
   			}
   	.row{  	width: 1220px;
    		margin: auto;
    	}

.row img{width: auto;
        height: 90px;
        display: block;
        margin: auto;
        }


p{font-size: 19px;color: #fff;text-align: center;font-family: 'Open Sans', sans-serif;}

.row div.carte1:hover{
        border: 2px solid #fff;
        border-radius: 10px;

}

/* --------------------------------------------------------------------------------------------------user-------------------------------------------------------------------------------------------- */



.carte1.gris.user{width: 100%;height: 600px;padding: 25px;position: relative;}
.user.tbl{height: 600px; top: 0px;}


.info-user{
  float: right;
  padding: 15px;
}
.info-user p{
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.border{
    height: 566px;
    border: 2px solid #fff;
}



/* --------------------------------------------------------------------------------------------------win-------------------------------------------------------------------------------------------- */


* { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; -o-font-smoothing:antialiased; font-smoothing:antialiased; }

body{
  margin:10px;
  padding:10px;
    font-family: "Open Sans", arial;

    font-weight:300;
}

h1{
    font-family: "Open Sans", arial;
    font-weight:300;
    float: left;
    width: 55%;
    margin-left: 5px;
    font-size: 40px;
    margin-bottom: 40px;
}
h2{
    margin:2px;
    font-family: "Open Sans", arial;
    font-weight:400;
    text-align: center;
}

a.wide, a.box{
    text-decoration:none;
    color:#fff;
    -webkit-transition: -webkit-transform 0.1s;
    position:relative;
    overflow:hidden;
}

a.wide h2, a.box h2{
    bottom:5px;
    font-size:18px;
    text-align: center;
    left: 0px;
    right: 0px;
}
}

a.wide h2.top, a.box h2.top{
    position:static;

    font-size:14px;
}
a.wide i, a.box i{
font-size: 60px;
text-align: center;
display: block;
margin-top: 10px; /* outside Codepen is actually 30px */
}
a.wide:hover, a.box:hover{
    -webkit-transform: scale(1.05);
    border: 0px solid;
}

a.wide:active, a.box:active{
    -webkit-transform: scale(1);
}
.wide{
    width:270px;
    height:180px;
    overflow:hidden;
    font-size:13px;
    padding:10px;
    display:block;
    float:right;
    margin:5px;
}

.box{
    width:120px;
    height:120px;
    overflow:hidden;
    font-size:13px;
    padding:10px;
    display:block;
    float:left;
    margin:5px;
}

.orange{background:rgba(59,59,59,0.1);}
.blue{background:rgba(59,59,59,0.1);}

img{height: 60%; display: block; margin: auto; margin-top: 5px;}

.logo{height: 7%;margin-left: 25px; float: left;top: -100px;margin-top: -140px;}


.spacer h2{text-align: center;}
 
.spacer{ width: 100%;
        margin: auto;
        display: block;
        max-width: 900px;
}
.spacer3x{
    width:300px;
}

@-webkit-keyframes galeri
{
1% {background-position: 0px 0px;}
10%{background-position: 0px 140px;}
20%{background-position: 0px 140px;}
30%{background-position: 0px 280px;}
40%{background-position: 0px 280px;}
50%{background-position: 0px 420px;}
60%{background-position: 0px 420px;}
70%{background-position: 0px 560px;}
80%{background-position: 0px 560px;}
100% {background-position: 0px 560px;}
}

.gallery{
    background: url(https://dl.dropbox.com/u/39272011/image_metro.png);
    -webkit-animation: galeri 15s infinite;
}
.right{
    float:right;
    text-align:right;
    margin-top: 30px;
}
.right p{
    margin: 5px 0px;
}
img.prof{
    float: right;
    margin: 10px;
    margin-top: 40px;
}
.i_bot{
    font-size: 30px;
    text-align: left;
    position: absolute;
    bottom: 0px;
}
.cal_i{
    margin-top: 20px;
    margin-left: 15px;
    width: 155px;
}
.cal_e h1{
    position: absolute;
    right: 0px;
    width: 115px;
    text-align: center;
    margin: 0px;
    font-size: 60px;
}
.cal_e p{
    position: absolute;
    right: 0px;
    width: 115px;
    text-align: center;
    margin-top: 75px;
    text-transform: uppercase;
}
.cal_e i{
    text-align: left;
    font-size: 25px !important;
    position: absolute;
    bottom: 0px;
}